<div class="row" ng-hide="frmBank">
	<div class="col-xs-12 col-lg-6 nopadding">
		<!-- Begin: life time stats -->
			<div class="portlet-body form">
				<form action="#" class="form-horizontal">
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-12">
                <button class="btn btn-custom-3 btn-lg" type="button" ng-click="loadForm('frmBank', 'false')"><i class="fa fa-pencil"></i> Edit</button>
							</div>
						</div>

            <div class="form-group">
              <div class="col-md-12">
                <label class="control-label">Bank Name | HDFC Bank</label>
							</div>
						</div>

            <div class="form-group">
              <div class="col-md-12">
                <label class="control-label">Branch Name | Kanpur</label>
							</div>
						</div>

            <div class="form-group">
              <div class="col-md-12">
                <label class="control-label">Account Number | 111111</label>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <label class="control-label">IFSC Code | 000000</label>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                Digital Signature | <button type="button" class="btn btn-custom-4 btn-lg"><span class="glyphicon glyphicon-eye-open"> </span></button> <button type="button" class="btn btn-custom-4 btn-lg"><i class="fa fa-download"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SSL Certificate | <button type="button" class="btn btn-custom-4 btn-lg"><span class="glyphicon glyphicon-eye-open"> </span></button> <button type="button" class="btn btn-custom-4 btn-lg"><i class="fa fa-download"></i></button>
              </div>
            </div>
          </div>
        </form>
			</div>
		</div>
		<!-- End: life time stats -->
	</div>
</div>

<div class="row" ng-show="frmBank">
	<div class="col-xs-12 col-lg-6 nopadding">
		<!-- Begin: life time stats -->
			<form action="#" class="form-horizontal form">
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-12">
							<label class="control-label">Bank Name</label>
              </div>
							<div class="col-md-12">
								<input class="form-control" id="mask_date" type="text" placeholder="Add bank name" />
							</div>
						</div>

            <div class="form-group">
              <div class="col-md-12">
							<label class="control-label">Branch Name</label>
              </div>
							<div class="col-md-12">
								<input class="form-control" id="mask_date" type="text" placeholder="Add branch name" />
							</div>
						</div>

            <div class="form-group">
              <div class="col-md-12">
							<label class="control-label">Account Number</label>
              </div>
							<div class="col-md-12">
								<input class="form-control" id="mask_date" type="text" placeholder="Add account number" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12">
								<label class="control-label">IFSC Code</label>
							</div>
							<div class="col-md-12">
								<input class="form-control" id="mask_date" type="text" placeholder="Add IFSC code" />
							</div>
						</div>
						<div class="form-group">
	              <div class="col-md-12 text-left">
									<button type="button" class="btn btn-custom-5 nomargin addButton"><i class="fa fa-plus"></i> Add digital signature</button>
									<button type="button" class="btn btn-custom-5 nomargin addButton pull-right"><i class="fa fa-plus"></i> Add SSL certificate</button>
	              </div>
	          </div>
          </div>
        </form>
			</div>
			<div class="col-xs-12 text-center">
				<button class="btn-custom-7" type="button">Cancel</button>
				<button class="btn-custom-6" type="button">Save</button>
			</div>
		</div>
		<!-- End: life time stats -->
	</div>
</div>
