<div class="row" ng-hide="frmDetails">
	<div class="col-md-12">
		<!-- Begin: life time stats -->
			<div class="portlet-body form">
				<form action="#" class="form-horizontal">
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-12">
                <button class="btn btn-default" type="button" ng-click="loadForm()"><i class="fa fa-edit"></i> Edit</button>
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
                <label class="control-label">Registration Number | 1111111</label>
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
                <label class="control-label">PAN Number | 111111</label>
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
                <label class="control-label">TAN Number | 111111</label>
              </div>
            </div>
            
            <div class="form-group">
              <div class="col-md-12">
                <label class="control-label">CST Number | 000000</label>
              </div>
            </div>
            
            <div class="form-group">
              <div class="col-md-12">
                <button type="button" class="btn btn-default"><i class="fa fa-plus"></i> Add number</button>
              </div>
            </div>
          </div>
        </form>
			</div>
		</div>
		<!-- End: life time stats -->
	</div>
</div>

<div class="row" ng-show="frmDetails">
	<div class="col-md-12">
		<!-- Begin: life time stats -->
			<form action="#" class="form-horizontal">
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-12">
							<label class="control-label">Registration Number</label>
              </div>
							<div class="col-md-12">
								<input class="form-control" id="mask_date" type="text" placeholder="Add registeration number" />
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
							<label class="control-label">PAN Number</label>
              </div>
							<div class="col-md-12">
								<input class="form-control" id="mask_date" type="text" placeholder="Add PAN number" />
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
							<label class="control-label">TAN Number</label>
              </div>
							<div class="col-md-12">
								<input class="form-control" id="mask_date" type="text" placeholder="Add TAN number" />
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
							<label class="control-label">CST Number</label>
              </div>
							<div class="col-md-12">
								<input class="form-control" id="mask_date" type="text" placeholder="Add CST number" />
							</div>
						</div>
            
          </div>
          
          <div class="form-group">
              <div class="col-md-12 text-left">
                <button class="btn btn-default" type="button"><span class="icon-plus" aria-hidden="true"></span> Add number</button>
              </div>
						</div>
            
          </div>
        </form>
			</div>
		</div>
		<!-- End: life time stats -->
	</div>
</div>