<div class="row" ng-hide="frmDetails">
	<div class="col-md-12">
		<!-- Begin: life time stats -->
			<div class="portlet-body form">
				<form action="#" class="form-horizontal">
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-12">
                <button class="btn btn-default" type="button" ng-click="loadForm()">Change Plan</button>
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
                <label class="control-label">Bill Name | Monthly Plan (Rs. 999)</label>
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
                <label class="control-label">Effective Date Range | 01 Jan, 2016 To 31 Jan, 2016</label>
							</div>
						</div>
          </div>
        </form>
			</div>
		</div>
		<!-- End: life time stats -->
	</div>
</div>

<div class="row" ng-show="frmDetails">
	<div class="col-md-4">
    <div class="portlet mt-element-ribbon light portlet-fit bordered">
        <div class="ribbon ribbon-right ribbon-clip ribbon-shadow ribbon-border-dash-hor ribbon-color-success uppercase">
            <div class="ribbon-sub ribbon-clip ribbon-right"></div> 1 Month </div>
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-green bold uppercase">Rs. 499</span>
            </div>
        </div>
        <div class="portlet-body">
          <ul>
            <li class="green"><i class="fa fa-check"></i> Unlimited Access</li>
            <li class="red"><i class="fa fa-close"></i> Unlimited Access</li>
          </ul>
        </div>
    </div>
	</div>
  
  <div class="col-md-4">
    <div class="portlet mt-element-ribbon light portlet-fit bordered">
        <div class="ribbon ribbon-right ribbon-clip ribbon-shadow ribbon-border-dash-hor ribbon-color-success uppercase">
            <div class="ribbon-sub ribbon-clip ribbon-right"></div> 1 Year </div>
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-green bold uppercase">Rs. 9999</span>
            </div>
        </div>
        <div class="portlet-body">
          <ul>
            <li class="green"><i class="fa fa-check"></i> Unlimited Access</li>
            <li class="red"><i class="fa fa-close"></i> Unlimited Access</li>
          </ul>
        </div>
    </div>
	</div>
  
  <div class="col-md-4">
    <div class="portlet mt-element-ribbon light portlet-fit bordered">
        <div class="ribbon ribbon-right ribbon-clip ribbon-shadow ribbon-border-dash-hor ribbon-color-success uppercase">
            <div class="ribbon-sub ribbon-clip ribbon-right"></div> Unlimited </div>
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-green bold uppercase">Rs. 9999</span>
            </div>
        </div>
        <div class="portlet-body">
          <ul>
            <li class="green"><i class="fa fa-check"></i> Unlimited Access</li>
            <li class="red"><i class="fa fa-close"></i> Unlimited Access</li>
          </ul>
        </div>
    </div>
	</div>
</div>