<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#">Finance</a>
          <i class="fa fa-angle-right"></i>
      </li>
      <li>
          <a href="#">Bill Tracker</a>
      </li>
  </ul>
</div>

<div class="row">
	<div class="col-md-6">
    <h3 class="page-title"> BILL TRACKER</h3>
  </div>
  
</div>

<div class="row">
	<div class="col-md-4">
    <div class="input-group">
      <div class="input-group-btn">
          <button type="button" class="btn dropdown-toggle btn-lg" data-toggle="dropdown">Filter
              <i class="fa fa-angle-down"></i>
          </button>
          <ul class="dropdown-menu">
              <li>
                  <a href="javascript:;"> Action </a>
              </li>
              <li>
                  <a href="javascript:;"> Another action </a>
              </li>
              <li>
                  <a href="javascript:;"> Something else here </a>
              </li>
              <li class="divider"> </li>
              <li>
                  <a href="javascript:;"> Separated link </a>
              </li>
          </ul>
      </div>
      <!-- /btn-group -->
      <div class="input-icon input-icon-lg">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control input-lg" placeholder="Search for products">
      </div>
    </div>
  </div>
  
  <div class="col-md-5">
    <button class="btn btn-default" type="">15,25,000.32<BR>30 Open Bills</button>
    <button class="btn btn-default" type="">12,16,210.36<BR>11 Overdue</button>
    <button class="btn btn-default" type="">854,45,561.28<BR>54 Paid in last 30 days</button>
  </div>
  
  <div class="col-md-2 text-right">
    <button class="btn btn-default btn-lg btn-circle-but" type="button"><i class="fa fa-refresh"></i></button>
    <button class="btn btn-default btn-lg btn-circle-but" type="button"><i class="fa fa-print"></i></button>
  </div>
</div>

<div class="row margin-top-10">
	<div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th><input type="checkbox" class="group-checkable"></th>
            <th>VENDOR</th>
            <th>TYPE</th>
            <th>NUMBER</th>
            <th>DATE</th>
            <th>DUE DATE</th>
            <th>STATUS</th>
            <th>AMOUNT DUE</th>
            <th>TAKE ACTION</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <td><input type="checkbox" class="group-checkable"></td>
            <td><a href="">Speedo Trunks Seller</a></td>
            <td>Bill</td>
            <td>101</td>
            <td>10/01/16</td>
            <td>10/01/16</td>
            <td>Overdue</td>
            <td>24,340</td>
            <td>
              <button type="button" class="btn dropdown-toggle btn-lg" data-toggle="dropdown">Pay Bill
                <i class="fa fa-angle-down"></i>
              </button>
            </td>
          </tr>
          
          <tr>
            <td><input type="checkbox" class="group-checkable"></td>
            <td><a href="">Ray Ban Glasses Seller</a></td>
            <td>Bill</td>
            <td>102</td>
            <td>10/02/16</td>
            <td>10/02/16</td>
            <td>Overdue</td>
            <td>4,560</td>
            <td></td>
          </tr>
          
          <tr>
            <td><input type="checkbox" class="group-checkable"></td>
            <td><a href="">Oakley Glasses Seller</a></td>
            <td>Bill</td>
            <td>103</td>
            <td>10/3/16</td>
            <td>10/3/16</td>
            <td>Overdue</td>
            <td>999</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
