<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#/dashboard.html">Finance</a>
          <i class="fa fa-angle-right"></i>
      </li>
      <li>
          <a href="#">cost-center</a>
      </li>
  </ul>
<div>

<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-12">
		<!-- Begin: life time stats -->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<span class="caption-subject sans-font-semi-bold uppercase">COST CENTER</span>
				</div>
			</div>
			<div class="form-group">
              <div class="col-md-8">
							
              </div>
							<div class="col-md-4">
								<label class="control-label pull-right sans-font-14">+ Add New Variants</label>
							</div>
						</div>
			<div class="portlet-body form">
				<form action="#" class="form-horizontal">
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-4">
							<label class="control-label">Cost Center Code</label>
              </div>
							<div class="col-md-8">
							<label class="control-label">Name</label>
              </div>
							<div class="col-md-4">
								<input class="form-control" id="mask_date" type="text" placeholder="Add Cost Center Code" />
							</div>
							<div class="col-md-4">
								<input class="form-control" id="mask_date" type="text" placeholder="Add name of cost center" />
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-4">
							<label class="control-label">Start Date</label>
              </div>
              
              <div class="col-md-8">
							<label class="control-label">End Date</label>
              </div>
							<div class="col-md-4">
								<div class="input-group margin-top-10">
                  <span class="input-group-addon">
                      <span class="icon-calendar" aria-hidden="true"></span>
                  </span>
                  <input type="text" class="form-control">
                </div>
							</div>
              
              <div class="col-md-4">
								<div class="input-group margin-top-10">
                  <span class="input-group-addon">
                      <span class="icon-calendar" aria-hidden="true"></span>
                  </span>
                  <input type="text" class="form-control">
                </div>
							</div>
						</div>
						<div class="form-group">
              <div class="col-md-12">
							<label class="control-label">Type</label>
              </div>
              
							<div class="col-md-4">
								<select class="form-control">
                  <option>--Select Size--</option>
                </select>
							</div>
						</div>
            <div class="form-group">
              <div class="col-md-12">
                <button class="btn btn-default btn-lg btn-circle-but" type="button">Cancel</button>
                <button class="btn btn-default  btn-lg btn-primary btn-circle-but" type="button">Save</button>
              </div>
            </div>
          </div>
        </form>
			</div>
		</div>
		<!-- End: life time stats -->
	</div>
</div>
<!-- END MAIN CONTENT -->
