<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#">Partners</a>
          <i class="fa fa-angle-right"></i>
      </li>
      <li>
          <a href="#">Logistics Partners</a>
      </li>
  </ul>
</div>

<div class="row">
	<div class="col-md-6 col-xs-12">
    <h3 class="page-title"> LOGISTICS PARTNERS</h3>
  </div>

</div>

<div class="row">
	<div class="col-md-5 col-xs-12 mb10">
    <div class="input-group">
      <div class="input-group-btn">
          <button type="button" class="btn dropdown-toggle btn-lg btn-custom-5" data-toggle="dropdown">Action
              <i class="fa fa-angle-down"></i>
          </button>
          <ul class="dropdown-menu">
              <li>
                  <a href="javascript:;"> Action </a>
              </li>
              <li>
                  <a href="javascript:;"> Another action </a>
              </li>
              <li>
                  <a href="javascript:;"> Something else here </a>
              </li>
              <li class="divider"> </li>
              <li>
                  <a href="javascript:;"> Separated link </a>
              </li>
          </ul>
      </div>
      <!-- /btn-group -->
      <div class="input-icon input-icon-lg">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control custom-input-lg" placeholder="Search for products">
      </div>
    </div>
  </div>

  <div class="col-md-7 col-xs-12 text-right">
    <button class="btn btn-custom-4 btn-lg pull-right" type="button"><i class="fa fa-print"></i></button>
    <button class="btn btn-custom-4 btn-lg pull-right" type="button"><i class="fa fa-download"></i></button>
    <button class="btn btn-custom-4 btn-lg pull-right" type="button"><i class="fa fa-eye-slash"></i></button>
    <button class="btn btn-custom-4 btn-lg pull-right" type="button"><i class="fa fa-slack"></i></button>
  </div>
</div>

<div class="row margin-top-10">
	<div class="col-md-12 col-xs-12">
    <div class="table-responsive">
      <table employee-responsive-table class="table table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th>LOGISTICS PARTNERS</th>
            <th>LOGISTICS ID</th>
            <th>TYPE</th>
            <th>VOLUMETRIC RATE</th>
            <th>OPERATIONAL DAYS</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><i class="fa fa-star" aria-hidden="true"></i></td>
            <td data-name="LOGISTICS PARTNERS"><a href="">Aramex</a></td>
            <td data-name="LOGISTICS ID">92823124512</td>
            <td data-name="TYPE">Last Mile</td>
            <td data-name="VOLUMETRIC RATE">24,340</td>
            <td data-name="OPERATIONAL DAYS">All</td>
          </tr>

          <tr>
            <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
            <td data-name="LOGISTICS PARTNERS"><a href="">DHL</a></td>
            <td data-name="LOGISTICS ID">92823123453</td>
            <td data-name="TYPE">Point-to-Point</td>
            <td data-name="VOLUMETRIC RATE">4,560</td>
            <td data-name="OPERATIONAL DAYS">M Tue W F Sat</td>
          </tr>

          <tr>
            <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
            <td data-name="LOGISTICS PARTNERS"><a href="">UPS</a></td>
            <td data-name="LOGISTICS ID">92823123456</td>
            <td data-name="TYPE">Last Mile</td>
            <td data-name="VOLUMETRIC RATE">999</td>
            <td data-name="OPERATIONAL DAYS">M Tue W Thu F Sat Sun</td>
          </tr>
        </tbody>
      </table>
      <!-- //  Paginationa Start -->
      <div class="col-xs-12 nopadding paginationContainer">
        <ul data-paging>
          <li><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
          <li>Page <span>1</span> of <span>13</span></li>
          <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        </ul>
        <ul page-count>
          <li><span>1</span>-<span>10</span></li>
          <li>of <span>125</span></li>
        </ul>
      </div>
      <!-- //  Paginationa End -->
    </div>
  </div>
</div>
