<div class="row">
    <div class="col-xs-12 top_headding text-center">
        <h3>Welcome to Trilia, Ramesh</h3>
        <label>Follow the below steps to help us get you started !!</label>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="file-drop-zone col-xs-12" nv-file-over="" uploader="uploader" over-class="file-drop-zone-over">
            <span><span>Import your data</span> from shopify</span>
            <br />
            <button class="btn btn-default btn-circle-but customise" type="button"><i class="fa fa-download"></i> Import</button>
        </div>
    </div>
</div>

<div class="row category_container">
    <div class="col-md-4 col-lg-3 col-xs-12 col-sm-4 text-center">
        <a href="#" class="btn btn-sq-lg btn-primary">
            <!--<span class="icon-user icon-font-size" aria-hidden="true"></span><br/><br>-->
            <img src="../assets/layouts/layout/images/Employees.png" />
            <br/> Add
            <br><strong>Employees</strong>
        </a>
    </div>

    <div class="col-md-4 col-lg-3 col-xs-12 col-sm-4">
        <a href="#" class="btn btn-sq-lg btn-primary">
            <img src="../assets/layouts/layout/images/Productcatalog.png" />
            <br/> Setup
            <br> <strong>Product Catalog</strong>
        </a>
    </div>

    <div class="col-md-4 col-lg-3 col-xs-12 col-sm-4">
        <a href="#" class="btn btn-sq-lg btn-primary">
            <!--<i class="fa fa-user fa-5x"></i><br/><br>-->
            <img src="../assets/layouts/layout/images/Inventoryicon.png" />
            <br/> Setup
            <br><strong>Inventory</strong>
        </a>
    </div>

    <div class="col-md-4 col-lg-3 col-xs-12 col-sm-4">
        <a href="#" class="btn btn-sq-lg btn-primary">
            <!--<i class="fa fa-user fa-5x"></i><br/><br>-->
            <img src="../assets/layouts/layout/images/LogisticsPartner.png" />
            <br/> Add
            <br><strong>Logistics Partners</strong>
        </a>
    </div>

    <div class="col-md-4 col-lg-3 col-xs-12 col-sm-4 text-center">
        <a href="#" class="btn btn-sq-lg btn-primary">
            <!--<i class="fa fa-user fa-5x"></i><br/><br>-->
            <img src="../assets/layouts/layout/images/Manufacturing.png" />
            <br/> Add
            <br><strong>Manufacturers</strong>
        </a>
    </div>

    <div class="col-md-4 col-lg-3 col-xs-12 col-sm-4">
        <a href="#" class="btn btn-sq-lg btn-primary">
            <!--<i class="fa fa-user fa-5x"></i><br/><br>-->
            <img src="../assets/layouts/layout/images/saleschannel.png" />
            <br/> Add
            <br><strong>Sales Channel</strong>
        </a>
    </div>

    <div class="col-md-4 col-lg-3 col-xs-12 col-sm-4">
        <a href="#" class="btn btn-sq-lg btn-primary">
            <!--<i class="fa fa-user fa-5x"></i><br/><br>-->
            <img src="../assets/layouts/layout/images/business.png" />
            <br/> Setup
            <br><strong>Business</strong>
        </a>
    </div>

    <div class="col-md-4 col-lg-3 col-xs-12 col-sm-4">
        <a href="#" class="btn btn-sq-lg btn-primary">
            <!--<i class="fa fa-user fa-5x"></i><br/><br>-->
            <img src="../assets/layouts/layout/images/budgetallocation.png" />
            <br/> Setup Budget
            <br><strong>Allocation</strong>
        </a>
    </div>

</div>

<div class="row marginBottom">
    <div class="col-md-3">
        <a href="#" class="btn btn-default btn-circle-but customise">
            <i class="fa fa-pencil"></i> Customise
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet bordered lGrey">
            <div class="portlet-title">

                <div class="caption caption-md col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 margin-top-10">
                            <label><strong>Order vs Stock</strong></label>
                        </div>
                        <div class="col-md-3">
                            <input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date" />
                        </div>
                    </div>
                </div>
                <div class="actions">

                </div>
            </div>
            <div class="portlet-body">
                <ng-high-line-chart></ng-high-line-chart>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>

<!-- <div class="row">
  <div class="col-md-6 col-sm-6 margin-bottom-30">
    <div class="portlet">
      <div class="col-md-12 col-sm-12 trilia-bg-color portlet-header">
        <strong>DEMAND FORCASTING BY CATEGORY</strong>
      </div>
      <div class="col-md-4 col-sm-4 trilia-bg-color padding-bottom-10">
          <span class="sans-font">3%</span><br>
          Category 1
       </div>
       <div class="col-md-4 col-sm-4 trilia-bg-color padding-bottom-10">
        <span class="sans-font">-1%</span><br>
          Category 2
       </div>
       <div class="col-md-4 col-sm-4 trilia-bg-color padding-bottom-10">
        <span class="sans-font">5%</span><br>
        Category 3
       </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 margin-bottom-30">
    <div class="portlet">
      <div class="col-md-12 col-sm-12 trilia-bg-color portlet-header">
        <strong>UPCOMING TRIGGERS</strong>
      </div>
      <div class="col-md-4 col-sm-4 trilia-bg-color padding-bottom-10">
          <span class="sans-font">3<sup>rd</sup></span><br>
          Weekend
       </div>
       <div class="col-md-4 col-sm-4 trilia-bg-color padding-bottom-10">
        <span class="sans-font">7<sup>th</sup></span><br>
        Dussera
       </div>
       <div class="col-md-4 col-sm-4 trilia-bg-color padding-bottom-10">
        <span class="sans-font">8<sup>th</sup></span><br>
        Diwali
       </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-6 margin-bottom-30">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="portlet">
          <div class="col-md-12 col-sm-12 trilia-bg-color portlet-header">
            <strong>DEMAND FORCASTING BY CATEGORY</strong>
          </div>
          <div class="col-md-4 col-sm-4 trilia-bg-color padding-bottom-10">
              <span class="sans-font">3%</span><br>
              Category 1
           </div>
           <div class="col-md-4 col-sm-4 trilia-bg-color padding-bottom-10">
            <span class="sans-font">-1%</span><br>
              Category 2
           </div>
           <div class="col-md-4 col-sm-4 trilia-bg-color padding-bottom-10">
            <span class="sans-font">5%</span><br>
            Category 3
           </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12  margin-bottom-30">
        <div class="portlet" style="padding:5px;">
          <div class="col-md-12 col-sm-12 trilia-bg-color portlet-header">
            <strong>DEMAND FORCASTING BY CATEGORY</strong>
          </div>
          <div class="col-md-4 col-sm-4 trilia-bg-color padding-bottom-10">
              <span class="sans-font">3%</span><br>
              Category 1
           </div>
           <div class="col-md-4 col-sm-4 trilia-bg-color padding-bottom-10">
            <span class="sans-font">-1%</span><br>
              Category 2
           </div>
           <div class="col-md-4 col-sm-4 trilia-bg-color padding-bottom-10">
            <span class="sans-font">5%</span><br>
            Category 3
           </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-6  margin-bottom-30">
    <div class="portlet">
      <div class="col-md-12 col-sm-12 trilia-bg-color portlet-header">
        <strong>SET DEMAND TRIGGER</strong>
      </div>
      <div class="col-md-12 col-sm-12 trilia-bg-color">
        <form action="#" class="form-horizontal">
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-12">
                            <label class="control-label">Trigger</label>
              </div>
                            <div class="col-md-12">
                                <input class="form-control" id="mask_date" type="text" />
                            </div>
                        </div>

            <div class="form-group">
              <div class="col-md-6">
                            <label class="control-label">Start Date</label>
              </div>

              <div class="col-md-6">
                            <label class="control-label">End Date</label>
              </div>
                            <div class="col-md-6">
                                <div class="input-group margin-top-10">
                  <span class="input-group-addon">
                      <span class="icon-calendar" aria-hidden="true"></span>
                  </span>
                  <input type="text" class="form-control">
                </div>
                            </div>

              <div class="col-md-6">
                                <div class="input-group margin-top-10">
                  <span class="input-group-addon">
                      <span class="icon-calendar" aria-hidden="true"></span>
                  </span>
                  <input type="text" class="form-control">
                </div>
                            </div>
                        </div>

            <div class="form-group">
              <div class="col-md-6">
                            <label class="control-label">Auto Repeat</label>
              </div>

              <div class="col-md-6">
                            <label class="control-label">every</label>
              </div>
                            <div class="col-md-6">
                                <input type="checkbox" class="make-switch" checked data-on-color="primary" data-off-color="info">
                            </div>

              <div class="col-md-6">
                                <input class="form-control" id="mask_date" type="text" />
                            </div>
                        </div>

            <div class="form-group">
              <div class="col-md-12">
                            <label class="control-label">Apply To</label>
              </div>

                            <div class="col-md-6">
                                <select class="form-control">
                  <option>--</option>
                </select>
                            </div>

              <div class="col-md-6">
                                <select class="form-control">
                  <option>--</option>
                </select>
                            </div>
                        </div>

            <div class="form-group">
              <div class="col-md-12">
                            <label class="control-label">Source of Information</label>
              </div>
                            <div class="col-md-12">
                                <input class="form-control" id="mask_date" type="text" placeholder="Social Media" />
                            </div>
                        </div>

            <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button class="btn green btn-primary btn-circle-but" type="submit">Submit</button>
                            </div>
                        </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>-->
