<h3>Welcome to Trilia, Ramesh</h3>
<label>Follow the below steps to help us get you started !!</label>

<div class="row">
  <div class="col-md-12">
    <div class="file-drop-zone margin-bottom-20" nv-file-over="" uploader="uploader" over-class="file-drop-zone-over"> Import your data from shopify </div>
  </div>
</div>

<div class="row marginBottom">
  <div class="col-md-3 text-center">
    <a href="#" class="btn btn-sq-lg btn-primary">
        <span class="icon-user icon-font-size" aria-hidden="true"></span><br/><br>
        Add <br><strong>Employees</strong>
    </a>
  </div>
  
  <div class="col-md-3">
    <a href="#" class="btn btn-sq-lg btn-primary">
        <i class="fa fa-shopping-cart fa-5x"></i><br/><br>
        Setup <br> <strong>Product Catalog</strong>
    </a>
  </div>
  
  <div class="col-md-3">
    <a href="#" class="btn btn-sq-lg btn-primary">
        <i class="fa fa-user fa-5x"></i><br/><br>
        Setup <br><strong>Inventory</strong>
    </a>
  </div>
  
  <div class="col-md-3">
    <a href="#" class="btn btn-sq-lg btn-primary">
        <i class="fa fa-user fa-5x"></i><br/><br>
        Add <br><strong>Logistics Partners</strong>
    </a>
  </div>
</div>

<div class="row marginBottom">
  <div class="col-md-3 text-center">
    <a href="#" class="btn btn-sq-lg btn-primary">
        <i class="fa fa-user fa-5x"></i><br/><br>
        Add <br><strong>Manufacturers</strong>
    </a>
  </div>
  
  <div class="col-md-3">
    <a href="#" class="btn btn-sq-lg btn-primary">
        <i class="fa fa-user fa-5x"></i><br/><br>
        Add <br><strong>Sales Channel</strong>
    </a>
  </div>
  
  <div class="col-md-3">
    <a href="#" class="btn btn-sq-lg btn-primary">
        <i class="fa fa-user fa-5x"></i><br/><br>
        Setup <br><strong>Business</strong>
    </a>
  </div>
  
  
  
  <div class="col-md-3">
    <a href="#" class="btn btn-sq-lg btn-primary">
        <i class="fa fa-user fa-5x"></i><br/><br>
        Setup Budget <br><strong>Allocation</strong>
    </a>
  </div>
</div>

<div class="row marginBottom">
  <div class="col-md-3">
    <a href="#" class="btn btn-default">
        <i class="fa fa-pencil"></i> Customise
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12">
    <!-- BEGIN PORTLET-->
    <div class="portlet light bordered ">
        <div class="portlet-title">
            <div class="caption caption-md">
                <span class="caption-subject bold uppercase">Order vs Stock</span>
            </div>
            <div class="actions">
                
            </div>
        </div>
        <div class="portlet-body">
          <ng-high-line-chart></ng-high-line-chart>
        </div>
    </div>
    <!-- END PORTLET-->
</div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-6">
    <div class="portlet" style="padding:5px;">
      <div class="col-md-12 col-sm-12 trilia-bg-color">
        <strong>DEMAND FORCASTING BY CATEGORY</strong>
      </div>
      <div class="col-md-4 col-sm-4 trilia-bg-color">
          3%<br>
          Category 1
       </div>
       <div class="col-md-4 col-sm-4 trilia-bg-color">
        -1%<br>
          Category 2
       </div>
       <div class="col-md-4 col-sm-4 trilia-bg-color">
        5%<br>
        Category 3
       </div>
    </div>
  </div>
  
  <div class="col-md-6 col-sm-6">
    <div class="portlet" style="padding:5px;">
      <div class="col-md-12 col-sm-12 trilia-bg-color">
        <strong>UPCOMING TRIGGERS</strong>
      </div>
      <div class="col-md-4 col-sm-4 trilia-bg-color">
          3<sup>rd</sup><br>
          Weekend
       </div>
       <div class="col-md-4 col-sm-4 trilia-bg-color">
        7<sup>th</sup><br>
        Dussera
       </div>
       <div class="col-md-4 col-sm-4 trilia-bg-color">
        8<sup>th</sup><br>
        Diwali
       </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-6">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="portlet" style="padding:5px;">
          <div class="col-md-12 col-sm-12 trilia-bg-color">
            <strong>DEMAND FORCASTING BY CATEGORY</strong>
          </div>
          <div class="col-md-4 col-sm-4 trilia-bg-color">
              3%<br>
              Category 1
           </div>
           <div class="col-md-4 col-sm-4 trilia-bg-color">
            -1%<br>
              Category 2
           </div>
           <div class="col-md-4 col-sm-4 trilia-bg-color">
            5%<br>
            Category 3
           </div>
        </div>
      </div>
      
      <div class="col-md-12 col-sm-12">
        <div class="portlet" style="padding:5px;">
          <div class="col-md-12 col-sm-12 trilia-bg-color">
            <strong>DEMAND FORCASTING BY CATEGORY</strong>
          </div>
          <div class="col-md-4 col-sm-4 trilia-bg-color">
              3%<br>
              Category 1
           </div>
           <div class="col-md-4 col-sm-4 trilia-bg-color">
            -1%<br>
              Category 2
           </div>
           <div class="col-md-4 col-sm-4 trilia-bg-color">
            5%<br>
            Category 3
           </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-6 col-sm-6">
    <div class="portlet" style="padding:5px;">
      <div class="col-md-12 col-sm-12 trilia-bg-color">
        <strong>SET DEMAND TRIGGER</strong>
      </div>
      <div class="col-md-12 col-sm-12 trilia-bg-color">
        <form action="#" class="form-horizontal">
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-12">
							<label class="control-label">Trigger</label>
              </div>
							<div class="col-md-12">
								<input class="form-control" id="mask_date" type="text" />
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-6">
							<label class="control-label">Start Date</label>
              </div>
              
              <div class="col-md-6">
							<label class="control-label">End Date</label>
              </div>
							<div class="col-md-6">
								<div class="input-group margin-top-10">
                  <span class="input-group-addon">
                      <span class="icon-calendar" aria-hidden="true"></span>
                  </span>
                  <input type="text" class="form-control">
                </div>
							</div>
              
              <div class="col-md-6">
								<div class="input-group margin-top-10">
                  <span class="input-group-addon">
                      <span class="icon-calendar" aria-hidden="true"></span>
                  </span>
                  <input type="text" class="form-control">
                </div>
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-6">
							<label class="control-label">Auto Repeat</label>
              </div>
              
              <div class="col-md-6">
							<label class="control-label">every</label>
              </div>
							<div class="col-md-6">
								<input type="checkbox" class="make-switch" checked data-on-color="primary" data-off-color="info">
							</div>
              
              <div class="col-md-6">
								<input class="form-control" id="mask_date" type="text" />
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
							<label class="control-label">Apply To</label>
              </div>
              
							<div class="col-md-6">
								<select class="form-control">
                  <option>--</option>
                </select>
							</div>
              
              <div class="col-md-6">
								<select class="form-control">
                  <option>--</option>
                </select>
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
							<label class="control-label">Source of Information</label>
              </div>
							<div class="col-md-12">
								<input class="form-control" id="mask_date" type="text" placeholder="Social Media" />
							</div>
						</div>
            
            <div class="form-group">
							<div class="col-md-12 text-center">
								<button class="btn green btn-primary" type="submit">Submit</button>
							</div>
						</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>