<div class="row">
	<div class="col-md-12">
		<!-- Begin: life time stats -->
			<form action="#" class="form-horizontal">
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-12">
							<label class="control-label">Operational days</label>
              </div>
							<div class="col-md-12">
								<select class="form-control"><option>--Select operational days--</option></select>
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-6">
                <label class="control-label">Warehouse facility</label>
              </div>
              
              <div class="col-md-6">
                <label class="control-label">Warehouse contact number</label>
              </div>
							<div class="col-md-6">
								<div class="btn-group btn-group-solid">
                    <button class="btn blue-madison" type="button">Yes</button>
                    <button class="btn btn-default" type="button">No</button>
                </div>
							</div>
              <div class="col-md-6">
								<input class="form-control" id="mask_date" type="text" placeholder="Add warehouse contact number" />
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
							<label class="control-label">Warehouse Address</label>
              </div>
							<div class="col-md-12">
								<textarea class="form-control" id="mask_date" type="text" placeholder="Add Warehouse Address"></textarea>
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
                <label class="control-label">Registration Number</label>
              </div>
							<div class="col-md-12">
								<input class="form-control" id="mask_date" type="text" placeholder="Add registration number" />
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
                <label class="control-label">Reverse Logistics</label>
              </div>
							<div class="col-md-12">
								<div class="btn-group btn-group-solid">
                    <button class="btn blue-madison" type="button">Yes</button>
                    <button class="btn btn-default" type="button">No</button>
                </div>
							</div>
						</div>
          
          <div class="form-group">
              <div class="col-md-12">
                <label class="control-label">Valumetric rate for normal delivery</label>
              </div>
              <div class="col-md-12">
                <input class="form-control" id="mask_date" type="text" />
                Per
                <select class="form-control"><option>--Select weight--</option></select>
              </div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
                <label class="control-label">Valumetric rate for express delivery</label>
              </div>
              <div class="col-md-12">
                <input class="form-control" id="mask_date" type="text" />
                Per
                <select class="form-control"><option>--Select weight--</option></select>
              </div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
                <label class="control-label">Service type offered</label>
              </div>
              <div class="col-md-12">
                <select class="form-control"><option>--Select service type--</option></select>
              </div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
                <label class="control-label">Areas of operation</label>
              </div>
              <div class="col-md-12">
                <label class="control-label">Pincodes</label>
              </div>
              <div class="col-md-12">
                <button class="btn btn-default" type="button">Upload an excel file</button> or
                <select><option>--Select an pincode--</option></select>
              </div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
                <ng-google-map></ng-google-map>
              </div>
            </div>
          <div class="form-group">
              <div class="col-md-12 text-left">
                <button class="btn btn-default" type="button">Cancel</button>
                <button class="btn blue-madison" type="button">Save</button>
              </div>
          </div>
        </form>
			</div>
		</div>
		<!-- End: life time stats -->
	</div>
</div>