<div class="row">
	<div class="col-md-6 col-xs-12">
		<!-- Begin: life time stats -->
		<form action="#" class="form-horizontal">
			<div class="form-body">
				<div class="form-group">
					<div class="col-xs-12">
						<label class="control-label">Operational days</label>
					</div>
					<div class="col-xs-12">
						<select class="form-control">
							<option>--Select operational days--</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-6 col-xs-12">
						<label class="control-label">Warehouse facility</label>
						<div class="col-xs-12 nopadding">
							<button class="btn flat_btn flat_btn_active col-xs-6" type="button">Yes</button>
							<button class="btn flat_btn col-xs-6" type="button">No</button>
						</div>
					</div>
					<div class="col-md-6 col-xs-12">
						<label class="control-label">Warehouse contact number</label>
						<input class="form-control" id="mask_date" type="text" placeholder="Add warehouse contact number" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-12">
						<label class="control-label">Warehouse Address</label>
					</div>
					<div class="col-xs-12">
						<textarea class="form-control" id="mask_date" type="text" placeholder="Add Warehouse Address"></textarea>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-12">
						<label class="control-label">Registration Number</label>
					</div>
					<div class="col-xs-12">
						<input class="form-control" id="mask_date" type="text" placeholder="Add registration number" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-6 col-xs-12">
						<label class="control-label">Reverse Logistics</label>
						<div class="col-xs-12 nopadding">
							<button class="btn flat_btn flat_btn_active col-xs-6" type="button">Yes</button>
							<button class="btn flat_btn col-xs-6" type="button">No</button>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-12">
						<label class="control-label">Valumetric rate for normal delivery</label>
					</div>
					<div class="col-md-5">
						<input class="form-control" id="mask_date" type="text" placeholder="Rs." />
					</div>
					<div class="col-md-1">
						<label class="control-label">Per</label>
					</div>
					<div class="col-md-6 col-xs-12">
						<select class="form-control">
							<option>--Select weight--</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-12">
						<label class="control-label">Valumetric rate for express delivery</label>
					</div>
					<div class="col-md-5">
						<input class="form-control" id="mask_date" type="text" placeholder="Rs." />
					</div>
					<div class="col-md-1">
						<label class="control-label">Per</label>
					</div>
					<div class="col-md-6 col-xs-12">
						<select class="form-control">
							<option>--Select weight--</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-12">
						<label class="control-label">Service type offered</label>
					</div>
					<div class="col-xs-12">
						<select class="form-control">
							<option>--Select service type--</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-12">
						<label class="control-label">Areas of operation</label>
					</div>
					<div class="col-xs-12">
						<label class="control-label">Pincodes</label>
					</div>
					<div class="col-xs-12">
						<button class="btn flat_btn col-xs-12 col-sm-5" type="button"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;&nbsp; Upload an excel file</button>
						<div class="col-xs-12 col-sm-2 text-center">or</div>
						<div class="col-xs-12 col-sm-5 nopadding">
							<select class="form-control">
								<option>--Select an pincode--</option>
							</select>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-12">
						<ng-google-map></ng-google-map>
					</div>
				</div>
				<!--<div class="form-group">
              <div class="col-xs-12 text-left">
                <button class="btn btn-default btn-circle-but" type="button">Cancel</button>
                <button class="btn blue-madison btn-circle-but" type="button">Save</button>
              </div>
          </div>-->
			</div>
	</div>
	<div class="col-xs-12 text-center">
		<button class="btn-custom-7" type="button">Cancel</button>
		<button class="btn-custom-6" type="button">Save</button>
	</div>
	</form>


	<!-- End: life time stats -->
</div>
</div>
