<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#/dashboard.html">Setup</a>
          <i class="fa fa-angle-right"></i>
      </li>
      <li>
          <a href="#/dashboard.html">Employee Setup</a>
      </li>
  </ul>
</div>

<div class="row">
	<div class="col-md-6">
    <h3 class="page-title"> Employees</h3>
  </div>
  
  <div class="col-md-6 text-right">
    <div class="btn-group btn-group-solid">
        <button class="btn btn-custom-2 page-title-group" type="button">
            <i class="fa fa-list"></i> List View</button>
        <button class="btn btn-custom-1 page-title-group" type="button"  ng-click="load('chart')">
            <i class="fa fa-cogs"></i> Chart View</button>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-md-12" id="chart-view">
   <org-chart></org-chart>
  </div>
</div>