<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Setup</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/dashboard.html">Employee Details</a>
        </li>
    </ul>
</div>

<h3 class="page-title"> Employee Details </h3>

<!-- // -->
<div class="row">
	<div class="col-lg-6 col-md-12 col-xs-12 nopadding employee_details">
		<!-- Begin: life time stats -->
			<div class="portlet-body form">
				<form action="#" class="form-horizontal">
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-12">
                <button class="btn btn-custom-3 btn-lg mb25" type="button" ng-click="loadForm('frmBankDetails','false')"><i class="fa fa-pencil"></i> Edit</button>
							</div>
						</div>

            <div class="form-group">
              <div class="col-md-12 col-xs-12">
                <label class="control-label"><strong>Name</strong> | Mr. Ajay Rao</label>
							</div>
						</div>

            <div class="form-group">
              <div class="col-md-6 col-xs-12">
                <label class="control-label"><strong>Email ID</strong> | sales@trilia.com</label>
							</div>

              <div class="col-md-6 col-xs-12">
                <label class="control-label"><strong>Mobile mumber</strong> | 9873459299 <span class="call-con"><i class="fa fa-phone" aria-hidden="true"></i></span></label>
							</div>
						</div>

            <div class="form-group">
              <div class="col-md-12 col-xs-12">
                <label class="control-label text-left"><strong>Reporting Manager</strong> | <span>Mr. Danial Snow</span></label>
							</div>
						</div>

            <div class="form-group">
              <div class="col-md-6 col-xs-12">
                <label class="control-label"><strong>Employee ID</strong> | E-123456</label>
							</div>

              <div class="col-md-6 col-xs-12">
                <label class="control-label"><strong>Job Title</strong> | Executive</label>
							</div>
						</div>

            <div class="form-group">
              <div class="col-md-6 col-xs-8">
                <label class="control-label">Role | <span class="outline">Operations</span> <span class="outline">Inventory</span></label>
							</div>

              <div class="col-md-6 col-xs-4">
                <label class="control-label"><a href="#">+ New Role</a></label>
							</div>
						</div>
            <div class="col-xs-12 nopadding inventory_container">
              <div class="table-responsive5">
                <table employee-responsive-table class="table-hover">
                  <thead>
                    <tr>
                      <th>INVENTORY</th>
                      <th>ADD</th>
                      <th>EDIT</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td data-name="INVENTORY">INVENTORY 1</td>
                      <td data-name="ADD"><input type="checkbox" name="" /></td>
                      <td data-name="EDIT"><input type="checkbox" name="" /></td>
                    </tr>

                    <tr>
                      <td data-name="INVENTORY">INVENTORY 2</td>
                      <td data-name="ADD"><input type="checkbox" name="" /></td>
                      <td data-name="EDIT"><input type="checkbox" name="" /></td>
                    </tr>

                    <tr>
                      <td data-name="INVENTORY">INVENTORY 3</td>
                      <td data-name="ADD"><input type="checkbox" name="" /></td>
                      <td data-name="EDIT"><input type="checkbox" name="" /></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="col-xs-12 nopadding operations_container">
              <div class="table-responsive5">
                <table employee-responsive-table class="table-hover">
                  <thead>
                    <tr>
                      <th>OPERATIONS</th>
                      <th>ADD</th>
                      <th>EDIT</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td data-name="OPERATIONS">OPERATIONS 1</td>
                      <td data-name="ADD"><input type="checkbox" name="" /></td>
                      <td data-name="EDIT"><input type="checkbox" name="" /></td>
                    </tr>

                    <tr>
                      <td data-name="OPERATIONS">OPERATIONS 2</td>
                      <td data-name="ADD"><input type="checkbox" name="" /></td>
                      <td><input type="checkbox" name="" /></td>
                    </tr>

                    <tr>
                      <td data-name="OPERATIONS">OPERATIONS 3</td>
                      <td data-name="ADD"><input type="checkbox" name="" /></td>
                      <td data-name="EDIT"><input type="checkbox" name="" /></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </form>
			</div>
		</div>
		<!-- End: life time stats -->
    <div class="col-xs-12 nopadding">
      <div class="col-xs-12 text-center">
				<button class="btn-custom-7" type="button">Cancel</button>
				<button class="btn-custom-6" type="button">Save</button>
			</div>
    </div>
	</div>
