<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Setup</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/dashboard.html">Business Setup</a>
        </li>
    </ul>
</div>

<h3 class="page-title"> Employee Details </h3>

<!-- // -->
<div class="row">
	<div class="col-lg-6 col-md-12 col-xs-12 nopadding">
		<!-- Begin: life time stats -->
			<div class="portlet-body form">
				<form action="#" class="form-horizontal">
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-12">
                <button class="btn btn-custom-3 btn-lg mb25" type="button" ng-click="loadForm('frmBankDetails')"><i class="fa fa-pencil"></i> Edit</button>
							</div>
						</div>

            <div class="form-group">
              <div class="col-md-12 col-xs-12">
                <label class="control-label">Company Name | Trilia System Pvt Ltd.</label>
							</div>
						</div>

            <div class="form-group">
              <div class="col-md-6 col-xs-12">
                <label class="control-label">Phone no | 9873459299</label>
							</div>

              <div class="col-md-6 col-xs-12">
                <label class="control-label">Email | sales@trilia.com</label>
							</div>
						</div>

            <div class="form-group">
              <div class="col-md-12 col-xs-12">
                <label class="control-label text-left" style="text-align:left;">Registered Business Address | Xyx-123, Kum, ABC Street, Konark India-110054</label>
							</div>
						</div>

            <div class="form-group">
              <div class="col-md-6 col-xs-12">
                <label class="control-label">No. of employees | 10-25</label>
							</div>

              <div class="col-md-6 col-xs-12">
                <label class="control-label">Business Entity Type | Private</label>
							</div>
						</div>
          </div>
        </form>
			</div>
		</div>
		<!-- End: life time stats -->
	</div>
