<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#/dashboard.html">Setup</a>
          <i class="fa fa-circle"></i>
      </li>
      <li>
          <a href="#/dashboard.html">Employee Setup</a>
          <i class="fa fa-circle"></i>
      </li>
      <li>
          <a href="#/dashboard.html">Add New Employee</a>
      </li>
  </ul>
</div>
<div class="clearfix"></div>
<h3 class="page-title">Add New Employee</h3>
<div class="clearfix"></div>
<div class="row">
	<div class="col-md-12">
		<!-- Begin: life time stats -->
		<div class="portlet">
			<div class="portlet-body form">
				<form action="#" class="form-horizontal">
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-12">
							<label class="control-label">Name</label>
              </div>
							<div class="col-md-12">
								<input class="form-control" id="mask_date" type="text" placeholder="Add full name" />
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-6">
							<label class="control-label">Email ID</label>
              </div>
              
              <div class="col-md-6">
							<label class="control-label">Mobile number</label>
              </div>
							<div class="col-md-6">
								<input class="form-control" id="mask_date" type="text" placeholder="Add employee email" />
							</div>
              
              <div class="col-md-6">
								<input class="form-control" id="mask_date" type="text" placeholder="Add mobile number" />
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-6">
							<label class="control-label">Reporting Manager</label>
              </div>
              <div class="clearfix"></div>
							<div class="col-md-6">
								<select class="form-control"><option>--Select a manager--</option></select>
							</div>
              <div class="col-md-6"></div>
						</div>
            
            <div class="form-group">
              <div class="col-md-6">
							<label class="control-label">Employee ID</label>
              </div>
              
              <div class="col-md-6">
							<label class="control-label">Job Title</label>
              </div>
							<div class="col-md-6">
								<input class="form-control" id="mask_date" type="text" placeholder="Add employee ID" />
							</div>
              
              <div class="col-md-6">
								<input class="form-control" id="mask_date" type="text" placeholder="Add job title" />
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-6">
							<label class="control-label">Roles</label>
              </div>
              <div class="clearfix"></div>
							<div class="col-md-6">
								<select class="form-control"><option>--Select department--</option></select>
							</div>
              <div class="col-md-6"></div>
						</div>
            
            <div class="form-group">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-8">
                    INVENTORY
                  </div>
                  <div class="col-md-2">
                    <label>Add</label>
                  </div>
                  <div class="col-md-2">
                    <label>Edit</label>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-6">
                <div class="row" ng-repeat="role in roles">
                  <div class="col-md-8">
                    {{role.name}}
                  </div>
                  <div class="col-md-2">
                    <label><div class="checker"><span class="checked"><input type="checkbox"></span></div></label>
                  </div>
                  <div class="col-md-2">
                    <label><div class="checker"><span class="checked"><input type="checkbox"></span></div></label>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-8">
                    OPREATIONS
                  </div>
                  <div class="col-md-2">
                    <label>Add</label>
                  </div>
                  <div class="col-md-2">
                    <label>Edit</label>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-6">
                <div class="row" ng-repeat="role in roles">
                  <div class="col-md-8">
                    {{role.name}}
                  </div>
                  <div class="col-md-2">
                    <label><div class="checker"><span class="checked"><input type="checkbox"></span></div></label>
                  </div>
                  <div class="col-md-2">
                    <label><div class="checker"><span class="checked"><input type="checkbox"></span></div></label>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="form-group">
              <div class="col-md-12 text-center">
                <button class="btn btn-default" type="button">Cancel</button> <button class="btn btn-success" type="button">Save</button>
              </div>
						</div>
            
            
          </div>
        </form>
			</div>
		</div>
		<!-- End: life time stats -->
	</div>
</div>