<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">Setup</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Employee Setup</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Invite Employee to Portal</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-6">
        <h3 class="page-title"> INVITE EMPLOYEE TO PORTAL</h3>
    </div>
    <div class="col-lg-7 col-xs-12 form">
        <!-- Begin: life time stats -->
        <form action="#" class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">Name</label>
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" type="text" placeholder="Add Full Name" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <div class="full-width">
                            <label class="control-label">Email ID</label>
                        </div>
                        <div class="full-width">
                            <input class="form-control" type="text" placeholder="Add employee email" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="full-width">
                            <label class="control-label">Mobile number</label>
                        </div>
                        <div class="full-width">
                            <input class="form-control" type="text" placeholder="Add mobile number" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">Reporting Manager</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control">
                            <option>--Select department--</option>
                            <option>--Select department--</option>
                        </select>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-xs-12 text-center">
        <button class="btn-custom-7" type="button">Cancel</button>
        <button class="btn-custom-6" type="button">Save</button>
    </div>
    </form>
</div>
</div>
<!-- End: life time stats -->
</div>
</div>
