<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#">Wharehouse Management</a>
          <i class="fa fa-angle-right"></i>
      </li>
      <li>
          <a href="#">Bhiwandi Wharehouse</a>
          <i class="fa fa-angle-right"></i>
      </li>
      <li>
          <a href="#">Data Entry</a>
      </li>
  </ul>
</div>

<div class="row">
	<div class="col-md-6">
    <h3 class="page-title">DATA ENTRY</h3>
  </div>

</div>

<div class="row">
	<div class="col-md-5 col-xs-12 mb10">
    <div class="input-group">
      <div class="input-group-btn">
          <button type="button" class="btn dropdown-toggle btn-lg btn-custom-5" data-toggle="dropdown">Action
              <i class="fa fa-angle-down"></i>
          </button>
          <ul class="dropdown-menu">
              <li>
                  <a href="javascript:;"> Action </a>
              </li>
              <li>
                  <a href="javascript:;"> Another action </a>
              </li>
              <li>
                  <a href="javascript:;"> Something else here </a>
              </li>
              <li class="divider"> </li>
              <li>
                  <a href="javascript:;"> Separated link </a>
              </li>
          </ul>
      </div>
      <!-- /btn-group -->
      <div class="input-icon input-icon-lg">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control custom-input-lg" placeholder="Search for products">
      </div>
    </div>
  </div>

  <div class="col-md-7 col-xs-12">
    <button class="btn btn-custom-3 btn-lg" type="button"><i class="fa fa-trash" aria-hidden="true"></i> Discard</button>
    <button class="btn btn-custom-3 btn-lg" type="button"><i class="fa fa-folder" aria-hidden="true"></i> Return</button>
    <!-- // -->
    <button class="btn btn-custom-4 btn-lg pull-right" type="button"><i class="fa fa-print"></i></button>
    <button class="btn btn-custom-4 btn-lg pull-right" type="button"><i class="fa fa-download"></i></button>
    <button class="btn btn-custom-4 btn-lg pull-right" type="button"><i class="fa fa-eye-slash"></i></button>
    <button class="btn btn-custom-4 btn-lg pull-right" type="button"><i class="fa fa-slack"></i></button>
    <!-- // -->
  </div>
</div>

<div class="row margin-top-10">
	<div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th><input type="checkbox" class="group-checkable"></th>
            <th>NAME</th>
            <th>CATEGORY</th>
            <th>SKU</th>
            <th>RECEIVE DATE</th>
            <th>QTY</th>
            <th>BASE COST</th>
            <th>SHIPPING</th>
            <th>TAX</th>
            <th>TOTAL COST</th>
            <th>PROFIT %</th>
            <th>SELL PRICE</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td><input type="checkbox" class="group-checkable"></td>
            <td><a href="">Speedo Swimming Trunks</a></td>
            <td>Sportsware</td>
            <td>92823124512</td>
            <td>24/08/16</td>
            <td>1000</td>
            <td>24,300</td>
            <td>24,300</td>
            <td>24,300</td>
            <td>24,300</td>
            <td>10%</td>
            <td>24,340</td>
          </tr>

          <tr>
            <td><input type="checkbox" class="group-checkable"></td>
            <td><a href="">Speedo Swimming Trunks</a></td>
            <td>Sportsware</td>
            <td>92823124512</td>
            <td>24/08/16</td>
            <td>1000</td>
            <td>24,300</td>
            <td>24,300</td>
            <td>24,300</td>
            <td>24,300</td>
            <td>10%</td>
            <td>24,340</td>
          </tr>

          <tr>
            <td><input type="checkbox" class="group-checkable"></td>
            <td><a href="">Speedo Swimming Trunks</a></td>
            <td>Sportsware</td>
            <td>92823124512</td>
            <td>24/08/16</td>
            <td>1000</td>
            <td>24,300</td>
            <td>24,300</td>
            <td>24,300</td>
            <td>24,300</td>
            <td>10%</td>
            <td>24,340</td>
          </tr>
        </tbody>
      </table>
      <!-- //  Paginationa Start -->
      <div class="col-xs-12 nopadding paginationContainer">
        <ul data-paging>
          <li><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
          <li>Page <span>1</span> of <span>13</span></li>
          <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        </ul>
        <ul page-count>
          <li><span>1</span>-<span>10</span></li>
          <li>of <span>125</span></li>
        </ul>
      </div>
      <!-- //  Paginationa End -->
    </div>
  </div>
</div>
