<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#/dashboard.html">Products</a>
          <i class="fa fa-circle"></i>
      </li>
      <li>
          <a href="#">Add Products</a>
      </li>
  </ul>
<div>

<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-12">
		<!-- Begin: life time stats -->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<span class="caption-subject bold uppercase">Add Products</span>
				</div>
			</div>
			<div class="portlet-body form">
				<form action="#" class="form-horizontal">
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-12">
							<label class="control-label">Title</label>
              </div>
							<div class="col-md-12">
								<input class="form-control" id="mask_date" type="text" placeholder="Eg., Plain White Shirt" />
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-6">
							<label class="control-label">Category</label>
              </div>
              
              <div class="col-md-6">
							<label class="control-label">Brand</label>
              </div>
							<div class="col-md-6">
								<select class="form-control">
                  <option>--Select Category--</option>
                </select>
							</div>
              
              <div class="col-md-6">
								<select class="form-control">
                  <option>--Select Brand--</option>
                </select>
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
							<label class="control-label">Description</label>
              </div>
							<div class="col-md-12">
								<textarea class="form-control" id="mask_date" type="text" placeholder="Add Product Description"></textarea>
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
							<label class="control-label">Tags</label>
              </div>
							<div class="col-md-12">
								<input class="form-control" id="mask_date" type="text" placeholder="Eg., 100 Cotton, Plain White" />
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
							<label class="control-label">Images</label>
              </div>
							<div class="col-md-12">
								<ul class="productImages">
                  
                </ul>
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-8">
							<label class="control-label">VARIANTS (This product has multiple options e.g. multiple sizes/colors etc.)</label>
              </div>
							<div class="col-md-4">
								<label class="control-label pull-right">+ Add New Variants</label>
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-3">
							<label class="control-label">Size</label>
              </div>
              
              <div class="col-md-3">
							<label class="control-label">Colours</label>
              </div>
              
              <div class="col-md-3">
							<label class="control-label">Stock Keeping Unit</label>
              </div>
              
              <div class="col-md-3">
							<label class="control-label">Barcode</label>
              </div>
              
							<div class="col-md-3">
								<select class="form-control">
                  <option>--Select Size--</option>
                </select>
							</div>
              
              <div class="col-md-3">
								<select class="form-control">
                  <option>--Select Colours--</option>
                </select>
							</div>
              
              <div class="col-md-3">
								<select class="form-control">
                  <option>--Select Unit--</option>
                </select>
							</div>
              
              <div class="col-md-3">
								<select class="form-control">
                  <option>--Select Barcode--</option>
                </select>
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-8">
							<label class="control-label">PRODUCT BUNDLE</label>
              </div>
							<div class="col-md-4">
								<label class="control-label pull-right">+ Add New Variants</label>
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-3">
							<label class="control-label">Base Variant</label>
              </div>
              
              <div class="col-md-3">
							<label class="control-label">SKU Code</label>
              </div>
              
              <div class="col-md-3">
							<label class="control-label">Temporibus Autem</label>
              </div>
              
              <div class="col-md-3">
							<label class="control-label">Rerum Necessitatibus Saepe</label>
              </div>
              
							<div class="col-md-3">
								<select class="form-control">
                  <option>--</option>
                </select>
							</div>
              
              <div class="col-md-3">
								<select class="form-control">
                  <option>--</option>
                </select>
							</div>
              
              <div class="col-md-3">
								<select class="form-control">
                  <option>--</option>
                </select>
							</div>
              
              <div class="col-md-3">
								<select class="form-control">
                  <option>--</option>
                </select>
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-8">
							<label class="control-label">ADD SUGGESTED PRODUCTS</label>
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-8">
							<label class="control-label">Suggested Product Name</label>
							</div>
						</div>
            
            <div class="form-group">
							<div class="col-md-12">
								<input class="form-control" id="mask_date" type="text" placeholder="Please seperate with ','" />
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
                <tabset seo="true">
                    <tab heading="SEO">TEST SEO</tab>
                    <tab heading="TECHNICAL SPECIFICATION">CONTENT</tab>
                    <tab heading="WARRANTY">LOREM IPSUM</tab>
                    <tab heading="OPERATIONS">LOREM IPSUM</tab>
                    <tab heading="CLASSIFICATIONS">LOREM IPSUM</tab>
                </tabset>
              </div>
						</div>
          </div>
        </form>
			</div>
		</div>
		<!-- End: life time stats -->
	</div>
</div>
<!-- END MAIN CONTENT -->
