<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#/dashboard.html">Marketing & Sales</a>
          <i class="fa fa-circle"></i>
      </li>
      <li>
          <a href="#">Discount</a>
      </li>
      
      <li>
          <a href="#">Add New Discount</a>
      </li>
  </ul>
<div>

<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-12">
		<!-- Begin: life time stats -->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<span class="caption-subject bold uppercase">Discount Details</span>
				</div>
			</div>
			<div class="portlet-body form">
				<form action="#" class="form-horizontal">
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-12">
							<label class="control-label">Discount Name</label>
              </div>
							<div class="col-md-12">
								<input class="form-control" id="mask_date" type="text" placeholder="Eg., Plain White Shirt" />
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
							<label class="control-label">Discount/Coupon ID</label>
              </div>
							<div class="col-md-12">
								<div class="input-group">
                    <input type="test" placeholder="Password" class="form-control">
                    <span class="input-group-addon">
                        Generate ID
                    </span>
                </div>
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
							<label class="control-label">How many times can this discount be used?</label>
              </div>
              
              
              
              <div class="col-md-12">
								<select class="form-control">
                  <option>--Select Brand--</option>
                </select>
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
                <label class="control-label">Discount Type</label>
              </div>
              <div class="col-md-6">
							<label class="control-label">Shop for</label>
              </div>
              <div class="col-md-6">
							<label class="control-label">Get</label>
              </div>
              
              
              <div class="col-md-6">
								<div class="input-group">
                  <div class="input-group-btn">
                      <button data-toggle="dropdown" class="btn green dropdown-toggle" type="button" aria-expanded="false">No of products
                          <i class="fa fa-angle-down"></i>
                      </button>
                      <ul class="dropdown-menu">
                          <li>
                              <a href="javascript:;"> Action </a>
                          </li>
                          <li>
                              <a href="javascript:;"> Another action </a>
                          </li>
                          <li>
                              <a href="javascript:;"> Something else here </a>
                          </li>
                          <li class="divider"> </li>
                          <li>
                              <a href="javascript:;"> Separated link </a>
                          </li>
                      </ul>
                  </div>
                  <!-- /btn-group -->
                  <input type="text" class="form-control"> </div>
							</div>
              
              <div class="col-md-6">
								<div class="input-group">
                  <div class="input-group-btn">
                      <button data-toggle="dropdown" class="btn green dropdown-toggle" type="button" aria-expanded="false">Discount off
                          <i class="fa fa-angle-down"></i>
                      </button>
                      <ul class="dropdown-menu">
                          <li>
                              <a href="javascript:;"> Action </a>
                          </li>
                          <li>
                              <a href="javascript:;"> Another action </a>
                          </li>
                          <li>
                              <a href="javascript:;"> Something else here </a>
                          </li>
                          <li class="divider"> </li>
                          <li>
                              <a href="javascript:;"> Separated link </a>
                          </li>
                      </ul>
                  </div>
                  <!-- /btn-group -->
                  <input type="text" class="form-control"> </div>
							</div>
						</div>
            
            <div class="form-group">
              <div class="col-md-12">
                <label class="control-label">Discount Type</label>
              </div>
              <div class="col-md-6">
							<label class="control-label">Shop for</label>
              </div>
              <div class="col-md-6">
							<label class="control-label">Get</label>
              </div>
              
              
              <div class="col-md-6">
								<div class="input-group margin-top-10">
                  <span class="input-group-addon">
                      <span aria-hidden="true" class="icon-calendar"></span>
                  </span>
                  <input type="text" class="form-control">
                </div>
							</div>
              
              <div class="col-md-6">
								<div class="input-group margin-top-10">
                  <span class="input-group-addon">
                      <span aria-hidden="true" class="icon-calendar"></span>
                  </span>
                  <input type="text" class="form-control">
                </div>
							</div>
              
              <div class="form-group" style="margin: 10px;">
                <div class="col-md-6">
                <label class="control-label">Products Applicable</label>
                </div>
                <div class="col-md-6 pull-right text-right">
                  <a href="#" >Products Applicable</a>
                </div>
              </div>
								
              <div class="form-group">
                <div class="col-md-4">
                  <select class="form-control input-large" multiple="multiple">
                      <option>Option 1</option>
                      <option>Option 2</option>
                      <option>Option 3</option>
                      <option>Option 4</option>
                      <option>Option 5</option>
                  </select>
                </div>
                <div class="col-md-4">
                   <select class="form-control input-large" multiple="multiple">
                      <option>Option 1</option>
                      <option>Option 2</option>
                      <option>Option 3</option>
                      <option>Option 4</option>
                      <option>Option 5</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <select class="form-control input-large" multiple="multiple">
                      <option>Option 1</option>
                      <option>Option 2</option>
                      <option>Option 3</option>
                      <option>Option 4</option>
                      <option>Option 5</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <div class="col-md-12 text-center">
                  <button class="btn blue" type="submit">Submit</button>
                </div>
              </div>
						</div>
          </div>
        </form>
			</div>
		</div>
		<!-- End: life time stats -->
	</div>
</div>
<!-- END MAIN CONTENT -->
