<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#/dashboard.html">Order Management</a>
          <i class="fa fa-circle"></i>
      </li>
      <li>
          <a href="#">Order Processing</a>
          <i class="fa fa-circle"></i>
      </li>
      <li>
          <a href="#">Calendar View</a>
      </li>
  </ul>
</div>
<div class="clearfix"></div>
<h3 class="page-title"> ORDERS </h3>
<div class="clearfix"></div>
<div>
  <ng-calendar></ng-calendar>
</div>