<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Customer</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Customer List</a>
        </li>
    </ul>
</div>
<h3 class="page-title"> Dashboard </h3>
    <div class="col-xs-12 nopadding dashboard_container">
        <div class="row ng-scope">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 lGrey" href="#">
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="89">89</span>
                        </div>
                        <div class="desc"> Total Orders </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 lGrey" href="#">
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="98">98</span></div>
                        <div class="desc"> High Priority Orders </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 lGrey" href="#">
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="239">239</span>
                        </div>
                        <div class="desc"> Promised Delivery Date Orders </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 lGrey" href="#">
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="3168">3168</span></div>
                        <div class="desc"> Delayed Orders </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row ng-scope">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 lGrey" href="#">
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="89">89</span>
                        </div>
                        <div class="desc"> Pending Orders </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 lGrey" href="#">
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="98">98</span></div>
                        <div class="desc"> In Progress Orders </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 lGrey" href="#">
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="239">239</span>
                        </div>
                        <div class="desc"> Orders on hold </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 lGrey" href="#">
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="3168">3168</span></div>
                        <div class="desc"> Orders to be shipped </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row ng-scope">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ng-high-donut-chart></ng-high-donut-chart>
            </div>
        </div>
