<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#/dashboard.html">Warehouse Management</a>
          <i class="fa fa-angle-right"></i>
      </li>
      <li>
          <a href="#">Bhiwandi Warehouse</a>
					<i class="fa fa-angle-right"></i>
      </li>
			<li>
          <a href="#">Data Entry</a>
      </li>
  </ul>
<div>
<div class="clearfix"></div>
<h3 class="page-title">DATA ENTRY</h3>
<div class="clearfix"></div>

<!-- BEGIN MAIN CONTENT -->
<div class="form-group">
	<div class="col-md-3">
	<label class="control-label">Order Date | 12/02/16</label>
	</div>
	
	<div class="col-md-3">
	<label class="control-label">PO Numver | OM12345678ES</label>
	</div>
	
	<div class="col-md-3">
	<label class="control-label">Merchant Name | WS Retail</label>
	</div>
	
	<div class="col-md-3">
	<label class="control-label">Merchant Code | 123456789</label>
	</div>
</div>
<br><br>
<div class="form-group">
	<div class="col-md-3">
	<label class="control-label">Manufacturing Date</label>
	</div>
	
	<div class="col-md-3">
	<label class="control-label">Expiry Date</label>
	</div>
	
	<div class="col-md-6">
	<label class="control-label">Dimensions in cms</label>
	</div>
	<div class="col-md-3">
		<div class="input-group margin-top-10">
			<span class="input-group-addon">
					<span class="icon-calendar" aria-hidden="true"></span>
			</span>
			<input type="text" class="form-control">
		</div>
	</div>
	
	<div class="col-md-3">
		<div class="input-group margin-top-10">
			<span class="input-group-addon">
					<span class="icon-calendar" aria-hidden="true"></span>
			</span>
			<input type="text" class="form-control">
		</div>
	</div>
	<div class="col-md-2">
		<input class="form-control" id="mask_date" type="text" placeholder="Add Cost Center Code" />
	</div>
	<div class="col-md-2">
		<input class="form-control" id="mask_date" type="text" placeholder="Add name of cost center" />
	</div>
	<div class="col-md-2">
		<input class="form-control" id="mask_date" type="text" placeholder="Add name of cost center" />
	</div>
	
	<div class="form-group">
		<div class="col-md-12">
			<button class="btn btn-default btn-lg btn-circle-but" type="button">Cancel</button>
			<button class="btn btn-default  btn-lg btn-primary btn-circle-but" type="button">Save</button>
		</div>
	</div>
</div>
<!-- END MAIN CONTENT -->
<script>
	TableAjax.init();
</script>