<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#">Wharehouse Management</a>
          <i class="fa fa-angle-right"></i>
      </li>
      <li>
          <a href="#">Bhiwandi Wharehouse</a>
          <i class="fa fa-angle-right"></i>
      </li>
      <li>
          <a href="#">Purchase Orders</a>
      </li>
  </ul>
</div>

<div class="row">
	<div class="col-md-6">
    <h3 class="page-title"> PURCHASE ORDERS</h3>
  </div>
  
</div>

<div class="row">
	<div class="col-md-3">
		  <div class="input-icon input-icon-lg">
		  <h5 class=""> Order Date | 12/02/16</h5>
		  </div>
	</div>
	
	<div class="col-md-3">
		<div class="input-group">
			
		  <!-- /btn-group -->
		  <div class="input-icon input-icon-lg">
		  <h5 class=""> PO Number | OM23453ES</h5>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="input-group">
			
		  <!-- /btn-group -->
		  <div class="input-icon input-icon-lg">
		  <h5 class=""> Merchant Name | WS Retail</h5>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="input-group">
			
		  <!-- /btn-group -->
		  <div class="input-icon input-icon-lg">
		  <h5 class=""> Merchant Code | 123456789</h5>
		  </div>
		</div>
	</div>
  
  <div class="col-md-3 text-right" style="float:right; margin-top:25px;">
    <button class="btn btn-custom-4 btn-lg" type="button"><i class="fa fa-slack"></i></button>
    <button class="btn btn-custom-4 btn-lg" type="button"><i class="fa fa-eye-slash"></i></button>
    <button class="btn btn-custom-4 btn-lg" type="button"><i class="fa fa-refresh"></i></button>
    <button class="btn btn-custom-4 btn-lg" type="button"><i class="fa fa-print"></i></button>
  </div>
</div>

<div class="row margin-top-10">
	<div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th>ORDER DATE</th>
            <th>PO</th>
            <th>NO OF ITEMS</th>
            <th>RECEIVING DATE</th>
            <th>MANUFACTURER</th>
            <th>STATUS</th>
          </tr>
        </thead>
        
        <tbody>
          
          <tr>
            <td></td>
            <td>24/02/16</td>
            <td>OM23453ES</td>
            <td>6</td>
            <td>24/02/16</td>
            <td>WS Retail</td>
            <td>Delayed</td>
          </tr>
          
          <tr>
            <td></td>
            <td>24/02/16</td>
            <td>OM73643ES</td>
            <td>5</td>
            <td>25/02/16</td>
            <td>Cloudtail</td>
            <td>Pending</td>
          </tr>
          
          <tr>
            <td></td>
            <td>25/02/16</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>700</td>
          </tr>
		  <tr>
            <td></td>
            <td>Shipping</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>4560</td>
          </tr>
		  <tr>
            <td></td>
            <td>Tax @ 12.5%</td>
            <td>OM45673ES</td>
            <td></td>
            <td></td>
            <td></td>
            <td>999</td>
          </tr>
		  <tr>
            <td></td>
            <td>Grand Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>24,340</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
	<div class="row">
		<div class="col-md-6">
			<div class="input-group">
				
			  <!-- /btn-group -->
			  <div class="input-icon input-icon-lg">
				<div class="col-md-4">
					<h6 class="">Orders Specification |</h6>
				</div>
				<div class="col-md-8">
					<p>Thetag defines a multi-line text input control.</p>
				</div>
			  </div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="input-group">
				
			  <!-- /btn-group -->
			  <div class="input-icon input-icon-lg">
				<div class="col-md-4">
					<h6 class="">payment Terms |</h6>
				</div>
				<div class="col-md-8">
					<p>Thetag defines a multi-line text input control.</p>
				</div>
			  </div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-6">
			<div class="input-group">
			  <div class="input-icon input-icon-lg">
				<div class="col-md-12">
					<div class="col-md-6">
						<div class="col-md-7">
							<h6 class="">Delivery Date |</h6>
						</div>
						<div class="col-md-5">
							<h5 class="">12/02/16 </h5>
						</div>
					</div>
					<div class="col-md-6">
						<div class="col-md-8">
							<h6 class="">Delivery Address |</h6>
						</div>
						<div class="col-md-4">
							<h5 class="">Delivery Date </h5>
						</div>
					</div>
				</div>
			  </div>
			</div>
		</div>

		<div class="col-md-6">
				
			  <!-- /btn-group -->
			<div class="col-md-4">
				<h6 class="">Shipping Terms |</h6>
			</div>
			<div class="col-md-8">
				<p>Thetag defines a multi-line text input control.</p>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-6">
			<div class="input-group">
				
			  <!-- /btn-group -->
			  <div class="input-icon input-icon-lg">
				<div class="col-md-4">
					<h6 class="">Note to approver |</h6>
				</div>
				<div class="col-md-8">
					<p>Thetag defines a multi-line text input control.</p>
				</div>
			  </div>
			</div>
		</div>
	</div>
	<div class="form-group">
              <div class="col-md-12 text-center">
                <button class="btn btn-default btn-circle-but" type="button">Decline</button> 
				<button class="btn blue-madison btn-circle-but" type="button">Accept</button>
				<button class="btn blue-madison btn-circle-but" type="button">Send to Po creator</button>
              </div>
						</div>
</div>

	