<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#">Order Management</a>
          <i class="fa fa-angle-right"></i>
      </li>
      <li>
          <a href="#">Order Processing</a>
      </li>
  </ul>
</div>

<div class="row">
	<div class="col-md-6">
    <h3 class="page-title"> ORDER PROCESSING</h3>
  </div>

</div>

<div class="row Order_Processing">
	<div class="col-md-5 col-xs-12 mb10">
		<div class="input-group">
			<div class="input-group-btn">
				<button type="button" class="btn dropdown-toggle btn-lg btn-custom-5" data-toggle="dropdown">Action
				<i class="fa fa-angle-down"></i>
			</button>
				<ul class="dropdown-menu">
					<li>
						<a href="javascript:;"> Action </a>
					</li>
					<li>
						<a href="javascript:;"> Another action </a>
					</li>
					<li>
						<a href="javascript:;"> Something else here </a>
					</li>
					<li class="divider"> </li>
					<li>
						<a href="javascript:;"> Separated link </a>
					</li>
				</ul>
			</div>
			<!-- /btn-group -->
			<div class="input-icon input-icon-lg">
				<i class="fa fa-search"></i>
				<input type="text" class="form-control custom-input-lg" placeholder="Search for products">
			</div>
		</div>
	</div>

	<div class="col-md-7 col-xs-12 text-right">
		<!--<button type="button" class="btn btn-custom-3 btn-lg">Create Batch</button>-->
		<button class="btn btn-custom-3 btn-lg" type="button"><img src="assets/images/mearge.png" alt="">&nbsp;&nbsp; Merge</button>
		<button class="btn btn-custom-3 btn-lg" type="button"><img src="assets/images/split.png" alt=""> &nbsp;&nbsp; Split</button>
    <!-- // -->
    <button class="btn btn-custom-4 btn-lg" type="button"><i class="fa fa-slack"></i></button>
		<button class="btn btn-custom-4 btn-lg" type="button"><i class="fa fa-eye-slash"></i></button>
		<button class="btn btn-custom-4 btn-lg" type="button"><i class="fa fa-refresh"></i></button>
		<button class="btn btn-custom-4 btn-lg" type="button"><i class="fa fa-print"></i></button>
    <!-- // -->
	</div>
</div>

<div class="row margin-top-10">
	<div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th><input type="checkbox" class="group-checkable"></th>
            <th>ORDER DATE</th>
            <th>ORDER NO</th>
            <th>ITEMS</th>
            <th>SKU</th>
            <th>QTY</th>
            <th>STATUS</th>
            <th>DELIVERY DATE</th>
            <th>PAYMENT</th>
            <th>PRIORITY</th>
            <th>SHIP TO</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td><input type="checkbox" class="group-checkable"></td>
            <td>24/02/16</td>
            <td>OM23453ES<BR>(WS Retail)</td>
            <td>Swimming Glass<BR>RayBan Glasses</td>
            <td>000000000000-0000<BR>000000000000-0000</td>
            <td>24<BR>25</td>
            <td>
              <select class="cus_dropdown" name="">
                <option value="0">Release</option>
              </select>
              <br>
              <select class="cus_dropdown" name="">
                <option value="0">Cancel</option>
              </select>
            </td>
            <td>24/02/16<BR>25/02/16</td>
            <td>COD</td>
            <td>High</td>
            <td>A/201 Dalops CHS, LT Road,<BR>Suburb, Mumbai-23</td>
          </tr>

          <tr>
            <td><input type="checkbox" class="group-checkable"></td>
            <td>25/02/16</td>
            <td>OM73643ES<BR>(Cloudtail)</td>
            <td>Swimming Glass<BR>RayBan Glasses</td>
            <td>000000000000-0000<BR>000000000000-0000</td>
            <td>24<BR>25</td>
            <td>
              <select class="cus_dropdown" name="">
                <option value="0">Release</option>
              </select>
              <br>
              <select class="cus_dropdown" name="">
                <option value="0">Cancel</option>
              </select>
            </td>
            <td>24/02/16<BR>25/02/16</td>
            <td>COD</td>
            <td>High</td>
            <td>A/201 Dalops CHS, LT Road,<BR>Suburb, Mumbai-23</td>
          </tr>

          <tr>
            <td><input type="checkbox" class="group-checkable"></td>
            <td>24/02/16</td>
            <td>OM23453ES<BR>(WS Retail)</td>
            <td>Swimming Glass<BR>RayBan Glasses</td>
            <td>000000000000-0000<BR>000000000000-0000</td>
            <td>24<BR>25</td>
            <td>
              <select class="cus_dropdown" name="">
                <option value="0">Release</option>
              </select>
              <br>
              <select class="cus_dropdown" name="">
                <option value="0">Cancel</option>
              </select>
            </td>
            <td>24/02/16<BR>25/02/16</td>
            <td>COD</td>
            <td>High</td>
            <td>A/201 Dalops CHS, LT Road,<BR>Suburb, Mumbai-23</td>
          </tr>
        </tbody>
      </table>
      <!-- //  Paginationa Start -->
      <div class="col-xs-12 nopadding paginationContainer">
        <ul data-paging>
          <li><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
          <li>Page <span>1</span> of <span>13</span></li>
          <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        </ul>
        <ul page-count>
          <li><span>1</span>-<span>10</span></li>
          <li>of <span>125</span></li>
        </ul>
      </div>
      <!-- //  Paginationa End -->
    </div>
  </div>
</div>
