<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#">Order Management</a>
          <i class="fa fa-angle-right"></i>
      </li>
      <li>
          <a href="#">Order Processing</a>
      </li>
  </ul>
</div>

<div class="row">
	<div class="col-md-6">
    <h3 class="page-title"> RELEASED ORDERS</h3>
  </div>
  
</div>

<div class="row">
	<div class="col-md-4">
    <div class="input-group">
      <div class="input-group-btn">
          <button type="button" class="btn dropdown-toggle btn-lg" data-toggle="dropdown">Filter
              <i class="fa fa-angle-down"></i>
          </button>
          <ul class="dropdown-menu">
              <li>
                  <a href="javascript:;"> Action </a>
              </li>
              <li>
                  <a href="javascript:;"> Another action </a>
              </li>
              <li>
                  <a href="javascript:;"> Something else here </a>
              </li>
              <li class="divider"> </li>
              <li>
                  <a href="javascript:;"> Separated link </a>
              </li>
          </ul>
      </div>
      <!-- /btn-group -->
      <div class="input-icon input-icon-lg">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control input-lg" placeholder="Search for products.">
      </div>
    </div>
  </div>
  
  <div class="col-md-5">
    
  </div>
  
  <div class="col-md-3 text-right">
    <button class="btn btn-default btn-lg btn-circle-but" type="button"><i class="fa fa-slack"></i></button>
    <button class="btn btn-default btn-lg btn-circle-but" type="button"><i class="fa fa-eye-slash"></i></button>
    <button class="btn btn-default btn-lg btn-circle-but" type="button"><i class="fa fa-refresh"></i></button>
    <button class="btn btn-default btn-lg btn-circle-but" type="button"><i class="fa fa-print"></i></button>
  </div>
</div>

<div class="row margin-top-10">
	<div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th>ORDER DATE</th>
            <th>ORDER NO</th>
            <th>ITEMS</th>
            <th>SKU</th>
            <th>QTY</th>
            <th>LOGISTICS</th>
            <th>DELIVERY DATE</th>
            <th>PAYMENT</th>
            <th>PRIORITY</th>
            <th>BATCH</th>
            <th>SUPERVISOR</th>
          </tr>
        </thead>
        
        <tbody>
          
          <tr>
            <td></td>
            <td>24/02/16</td>
            <td>OM23453ES<BR>(WS Retail)</td>
            <td>Swimming Glass<BR>RayBan Glasses</td>
            <td>000000000000-0000<BR>000000000000-0000</td>
            <td>24<BR>25</td>
            <td>
              <button type="button" class="btn dropdown-toggle btn-lg" data-toggle="dropdown">VRL
                <i class="fa fa-angle-down"></i>
              </button>
              <BR>
              <button type="button" class="btn dropdown-toggle btn-lg" data-toggle="dropdown">VRL
                <i class="fa fa-angle-down"></i>
              </button>
            </td>
            <td>24/02/16<BR>25/02/16</td>
            <td>COD</td>
            <td>HIgh</td>
            <td>First</td>
            <td>Jon Doe</td>
          </tr>
          
          <tr>
            <td></td>
            <td>25/02/16</td>
            <td>OM73643ES<BR>(Cloudtail)</td>
            <td>Swimming Suit3<BR>Pot Brown</td>
            <td>000000000000-0000<BR>000000000000-0000</td>
            <td>25<BR>2</td>
            <td>
              <button type="button" class="btn dropdown-toggle btn-lg" data-toggle="dropdown">UPS
                <i class="fa fa-angle-down"></i>
              </button>
              <BR>
              <button type="button" class="btn dropdown-toggle btn-lg" data-toggle="dropdown">UPS
                <i class="fa fa-angle-down"></i>
              </button>
            </td>
            <td>25/02/16<BR>26/02/16</td>
            <td>COD</td>
            <td>Normal</td>
            <td>Second</td>
            <td>Jon Show</td>
          </tr>
          
          <tr>
            <td></td>
            <td>24/02/16</td>
            <td>OM23453ES<BR>(WS Retail)</td>
            <td>Swimming Glass<BR>RayBan Glasses</td>
            <td>000000000000-0000<BR>000000000000-0000</td>
            <td>24<BR>25</td>
            <td>
              <button type="button" class="btn dropdown-toggle btn-lg" data-toggle="dropdown">VRL
                <i class="fa fa-angle-down"></i>
              </button>
              <BR>
              <button type="button" class="btn dropdown-toggle btn-lg" data-toggle="dropdown">VRL
                <i class="fa fa-angle-down"></i>
              </button>
            </td>
            <td>24/02/16<BR>25/02/16</td>
            <td>COD</td>
            <td>HIgh</td>
            <td>First</td>
            <td>Jon Doe</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
