<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#">Order Management</a>
          <i class="fa fa-angle-right"></i>
      </li>
      <li>
          <a href="#">Return Status</a>
      </li>
  </ul>
</div>

<div class="row">
	<div class="col-md-6">
    <h3 class="page-title"> RETURN STATUS</h3>
  </div>
  
</div>

<div class="row">
	<div class="col-md-4">
    <div class="input-group">
      <div class="input-group-btn">
          <button type="button" class="btn dropdown-toggle btn-lg btn-custom-5" data-toggle="dropdown">Action
              <i class="fa fa-angle-down"></i>
          </button>
          <ul class="dropdown-menu">
              <li>
                  <a href="javascript:;"> Action </a>
              </li>
              <li>
                  <a href="javascript:;"> Another action </a>
              </li>
              <li>
                  <a href="javascript:;"> Something else here </a>
              </li>
              <li class="divider"> </li>
              <li>
                  <a href="javascript:;"> Separated link </a>
              </li>
          </ul>
      </div>
      <!-- /btn-group -->
      <div class="input-icon input-icon-lg">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control custom-input-lg" placeholder="Search for products">
      </div>
    </div>
  </div>
  
  <div class="col-md-5">
    
  </div>
  
  <div class="col-md-3 text-right">
    <button class="btn btn-custom-3 btn-lg" type="button"><i class="fa fa-slack"></i></button>
    <button class="btn btn-custom-3 btn-lg" type="button"><i class="fa fa-eye-slash"></i></button>
    <button class="btn btn-custom-3 btn-lg" type="button"><i class="fa fa-refresh"></i></button>
    <button class="btn btn-custom-3 btn-lg" type="button"><i class="fa fa-print"></i></button>
  </div>
</div>

<div class="row margin-top-10">
	<div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th><input type="checkbox" class="group_checkable" ></th>
            <th>RETURN DATE</th>
            <th>RETURN NO</th>
						<th>AWB NO</th>
            <th>DELIVERY TO</th>
            <th>LOGISTICS PARTNER</th>
						<th>Status</th>
          </tr>
        </thead>
        
        <tbody>
          
          <tr>
            <td><input type="checkbox" class="group_checkable" ></td>
            <td>24/08/15</td>
            <td>OM23453ES</td>
            <td><a href="">92823124512</a></td>
						<td>Bhiwandi</td>
						<td>DHL</td>
						<td>New</td>
          </tr>
          
          <tr>
            <td><input type="checkbox" class="group_checkable" ></td>
            <td>19/08/15</td>
            <td>OM98234ES</td>
            <td><a href="">92823123453</a></td>
						<td>Uran</td>
						<td>UPS</td>
						<td>Picked</td>
          </tr>
          
          <tr>
            <td><input type="checkbox" class="group_checkable" ></td>
            <td>10/08/15</td>
            <td>OM73643ES</td>
            <td><a href="">92823123456</a></td>
						<td>Uran</td>
						<td>Delhivery</td>
						<td>Delivered</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
