<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#">Order Management</a>
          <i class="fa fa-angle-right"></i>
      </li>
      <li>
          <a href="#">Return Request</a>
      </li>
  </ul>
</div>

<div class="row">
	<div class="col-md-6">
    <h3 class="page-title"> RETURN REQUEST</h3>
  </div>

</div>

<div class="row">
	<div class="col-md-5 col-xs-12 mb10">
    <div class="input-group">
      <div class="input-group-btn">
          <button type="button" class="btn dropdown-toggle btn-lg btn-custom-5" data-toggle="dropdown">Action
              <i class="fa fa-angle-down"></i>
          </button>
          <ul class="dropdown-menu">
              <li>
                  <a href="javascript:;"> Action </a>
              </li>
              <li>
                  <a href="javascript:;"> Another action </a>
              </li>
              <li>
                  <a href="javascript:;"> Something else here </a>
              </li>
              <li class="divider"> </li>
              <li>
                  <a href="javascript:;"> Separated link </a>
              </li>
          </ul>
      </div>
      <!-- /btn-group -->
      <div class="input-icon input-icon-lg">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control custom-input-lg" placeholder="Search for products">
      </div>
    </div>
  </div>
  <div class="col-md-7 col-xs-12 text-right">
    <!-- // -->
    <button class="btn btn-custom-4 btn-lg pull-right" type="button"><i class="fa fa-print"></i></button>
    <button class="btn btn-custom-4 btn-lg pull-right" type="button"><i class="fa fa-refresh"></i></button>
    <button class="btn btn-custom-4 btn-lg pull-right" type="button"><i class="fa fa-eye-slash"></i></button>
    <button class="btn btn-custom-4 btn-lg pull-right" type="button"><i class="fa fa-slack"></i></button>
    <!-- // -->
  </div>
</div>

<div class="row margin-top-10">
	<div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th><input type="checkbox" class="group_checkable" ></th>
            <th>OREDR DATE</th>
            <th>OREDR NO</th>
						<th>DAYS DELIVERED BEFORE</th>
            <th>SKU</th>
            <th>QTY</th>
						<th>RETURN REASON</th>
						<th>ACTION</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td><input type="checkbox" class="group_checkable" ></td>
            <td>24/02/16</td>
            <td>OM23453ES</td>
            <td>23</td>
						<td>000000000000-0000</td>
						<td>24</td>
						<td>Broken</td>
						<td>
              <select class="cus_dropdown" name="">
                <option value="0">Approve</option>
              </select>
              <select class="cus_dropdown" name="">
                <option value="0">Disapprove</option>
              </select>
						</td>
          </tr>

          <tr>
            <td><input type="checkbox" class="group_checkable" ></td>
            <td>24/02/16</td>
            <td>OM23453ES</td>
            <td>23</td>
						<td>000000000000-0000</td>
						<td>25</td>
						<td>Broken</td>
            <td>
              <select class="cus_dropdown" name="">
                <option value="0">Approve</option>
              </select>
              <select class="cus_dropdown" name="">
                <option value="0">Disapprove</option>
              </select>
						</td>
          </tr>

          <tr>
            <td><input type="checkbox" class="group_checkable" ></td>
            <td>25/02/16</td>
            <td>OM73643ES</td>
            <td>23</td>
						<td>000000000000-0000</td>
						<td>24</td>
						<td>Broken</td>
            <td>
              <select class="cus_dropdown" name="">
                <option value="0">Approve</option>
              </select>
              <select class="cus_dropdown" name="">
                <option value="0">Disapprove</option>
              </select>
						</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
