table {
    width: 100%;
    border-collapse: collapse;
}
[employee-responsive-table] a { text-decoration: underline; }
[employee-responsive-table] div.checker { margin-right: 15px !important; }
[employee-responsive-table] > tbody > tr > td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.add-roles-table > tbody > tr > td > a {
  color: #000;
  text-decoration: none !important;
  font-size: 13px;
}
@media only screen and (max-width: 760px) {
  [employee-responsive-table] div.checker { margin-right: 5px !important; }
}
@media only screen and (min-width: 761px) {
  tr:nth-of-type(odd) {
      background: #f4f7f9;
  }
  #chart-view tr:nth-of-type(odd) {
    background-color: inherit !important;
  }
}
/* Zebra striping */
th {
    background: #fff;
    color: #888888;
    font-weight: 600;
    font-size: 12px;
    border-bottom: 1px solid #D3D1CD;
}
td, th {
    padding: 10px 8px;
    text-align: left;
    line-height: 1.42857;
}
/*====*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  td {
    border: none;
    position: relative;
    padding-left: 50% !important;
    font-size: 13px;
    background-color: #f4f7f9;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  td a {
    color: #00a6de;
    font-weight: 600;
  }
  tr {
    margin-bottom: 20px;
  }
  td:first-child {
    background-color: #fff;
  }
  td:first-child, td:last-child {
    border-bottom: solid 1px #aaaaaa;
  }
  td:before {
    position: absolute;
    top: 11px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-size: 12px; color: #888888;
  }

  /*
  Label the data
  */
  [employee-responsive-table] td:nth-of-type(1):before { content: attr(data-name); }
  [employee-responsive-table] td:nth-of-type(2):before { content: attr(data-name); }
  [employee-responsive-table] td:nth-of-type(3):before { content: attr(data-name); }
  [employee-responsive-table] td:nth-of-type(4):before { content: attr(data-name); }
  [employee-responsive-table] td:nth-of-type(5):before { content: attr(data-name); }
  [employee-responsive-table] td:nth-of-type(6):before { content: attr(data-name); }
}
