<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>&nbsp;</li>
  </ul>
</div>

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 Custome_Template_Wrapper">
        <!-- Begin: life time stats -->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <h3 class="page-title">TEMPLATE NAME &nbsp;<i class="fa fa-pencil"></i></h3>
                </div>
                <div class="cu-button-box pull-right">
                  <button class="btn btn-custom-3 btn-lg mb25" type="button">Preview</button>
                  <button class="btn btn-custom-3 btn-lg mb25" type="button">Send for approval</button>
                </div>
            </div>
            <div class="portlet-body form">
                <form action="#" class="form-horizontal">
                    <div class="col-xs-12 nopadding">
                      <div class="row">
                        <!-- // Form Block Start -->
                        <div class="col-xs-12 col-sm-6">
                          <div class="col-xs-12 addTemplateBlock">
                            <div class="templateRow">
                              <div class="col-xs-12 topLineBox text-center">
                                <a href="#"><img src="/assets/images/boxDote.png" alt=""></a>
                                <a href="#" class="TboxClose"><img src="/assets/images/boxClose.png" alt=""></a>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Title</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Content type</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="checkbox">
                                  <label><input type="checkbox"> Required</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as search facet</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as variant</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- // -->
                          <div class="col-xs-12 addTemplateBlock">
                            <div class="templateRow">
                              <div class="col-xs-12 topLineBox text-center">
                                <a href="#"><img src="/assets/images/boxDote.png" alt=""></a>
                                <a href="#" class="TboxClose"><img src="/assets/images/boxClose.png" alt=""></a>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Category</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Content type</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="checkbox">
                                  <label><input type="checkbox"> Required</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as search facet</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as variant</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- // -->
                          <div class="col-xs-12 addTemplateBlock">
                            <div class="templateRow">
                              <div class="col-xs-12 topLineBox text-center">
                                <a href="#"><img src="/assets/images/boxDote.png" alt=""></a>
                                <a href="#" class="TboxClose"><img src="/assets/images/boxClose.png" alt=""></a>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Description</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Text box</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="checkbox">
                                  <label><input type="checkbox"> Required</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as search facet</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as variant</label>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-12">
                                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                              </div>
                            </div>
                          </div>
                          <!-- // -->
                          <div class="col-xs-12 addTemplateBlock">
                            <div class="templateRow">
                              <div class="col-xs-12 topLineBox text-center">
                                <a href="#"><img src="/assets/images/boxDote.png" alt=""></a>
                                <a href="#" class="TboxClose"><img src="/assets/images/boxClose.png" alt=""></a>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Image</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Add Image</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="checkbox">
                                  <label><input type="checkbox"> Required</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as search facet</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as variant</label>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-12">
                                <a href="javascript:void(0);" class="AddImgBox">
                                  <addimg>
                                    <span><img src="/assets/images/plus.png"></span>
                                    <span>Add image</span>
                                  </addimg>
                                </a>
                              </div>
                            </div>
                          </div>
                          <!-- // -->
                          <div class="col-xs-12 addTemplateBlock">
                            <div class="templateRow">
                              <div class="col-xs-12 topLineBox text-center">
                                <a href="#"><img src="/assets/images/boxDote.png" alt=""></a>
                                <a href="#" class="TboxClose"><img src="/assets/images/boxClose.png" alt=""></a>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Category</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Content type</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="checkbox">
                                  <label><input type="checkbox"> Required</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as search facet</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as variant</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- // -->
                        </div>
                        <!-- // Form Block End -->
                        <!-- // Form Block Start -->
                        <div class="col-xs-12 col-sm-6">
                          <div class="col-xs-12 addTemplateBlock">
                            <div class="templateRow">
                              <div class="col-xs-12 topLineBox text-center">
                                <a href="#"><img src="/assets/images/boxDote.png" alt=""></a>
                                <a href="#" class="TboxClose"><img src="/assets/images/boxClose.png" alt=""></a>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Title</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Content type</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="checkbox">
                                  <label><input type="checkbox"> Required</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as search facet</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as variant</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- // Form Block End -->
                        <div class="col-xs-12 Tdivider">
                          <hr>
                        </div>
                        <!-- // Form Block Start -->
                        <div class="col-xs-12 col-sm-6">
                          <div class="col-xs-12 addTemplateBlock">
                            <div class="templateRow">
                              <div class="col-xs-12 topLineBox text-center">
                                <a href="#"><img src="/assets/images/boxDote.png" alt=""></a>
                                <a href="#" class="TboxClose"><img src="/assets/images/boxClose.png" alt=""></a>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Title</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <div class="input-group nopadding">
                                        <select class="form-control">
                                          <option>Select variant type</option>
                                          <option>2</option>
                                          <option>3</option>
                                          <option>4</option>
                                          <option>5</option>
                                        </select>
                                        <span class="input-group-btn">
                                          <button class="btn btn-default TaddButton" type="button">+Add</button>
                                        </span>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <div class="input-group nopadding">
                                        <span class="input-group-btn TaddButtonContainer">
                                          <button class="btn btn-default TaddButton" type="button">Size <img src="/assets/images/boxClose.png" alt=""></button>
                                          <button class="btn btn-default TaddButton" type="button">Color <img src="/assets/images/boxClose.png" alt=""></button>
                                        </span>
                                      </div>
                                    </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="checkbox">
                                  <label><input type="checkbox"> Required</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as search facet</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as variant</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- // -->
                          <div class="col-xs-12 addTemplateBlock">
                            <div class="templateRow">
                              <div class="col-xs-12 topLineBox text-center">
                                <a href="#"><img src="/assets/images/boxDote.png" alt=""></a>
                                <a href="#" class="TboxClose"><img src="/assets/images/boxClose.png" alt=""></a>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Product Bundle</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Content type</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="checkbox">
                                  <label><input type="checkbox"> Required</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as search facet</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as variant</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- // -->
                          <div class="col-xs-12 addTemplateBlock">
                            <div class="templateRow">
                              <div class="col-xs-12 topLineBox text-center">
                                <a href="#"><img src="/assets/images/boxDote.png" alt=""></a>
                                <a href="#" class="TboxClose"><img src="/assets/images/boxClose.png" alt=""></a>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Add Suggested Products</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Content Type</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="checkbox">
                                  <label><input type="checkbox"> Required</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as search facet</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as variant</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- // -->
                        </div>
                        <!-- // Form Block End -->
                      </div>
                        <!-- // Tab Start -->
                        <div class="col-xs-12 nopadding">
                          <div class="form-group">
                            <div class="col-md-12">
                              <tabset seo="true">
                                <tab heading="SEO">
                                  <!-- // Tab Content Start -->
                                  <div class="col-xs-12 tabsetData">
                                    <p class="Tcontent">
                                      <span>Search Engine Preview Page</span>
                                      (Add a title to see how this product might appear in a search engine listing)
                                    </p>
                                    <div class="col-xs-12 col-sm-6">
                                      <div class="row">
                                        <!-- // -->
                                        <div class="col-xs-12 addTemplateBlock">
                                          <div class="templateRow">
                                            <div class="col-xs-12 topLineBox text-center">
                                              <a href="#"><img src="/assets/images/boxDote.png" alt=""></a>
                                              <a href="#" class="TboxClose"><img src="/assets/images/boxClose.png" alt=""></a>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                              <div class="form-group">
                                                  <div class="col-md-12">
                                                    <select class="form-control">
                                                      <option>Title</option>
                                                      <option>2</option>
                                                      <option>3</option>
                                                      <option>4</option>
                                                      <option>5</option>
                                                    </select>
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <div class="col-md-12">
                                                    <select class="form-control">
                                                      <option>Content Type</option>
                                                      <option>2</option>
                                                      <option>3</option>
                                                      <option>4</option>
                                                      <option>5</option>
                                                    </select>
                                                  </div>
                                              </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                              <div class="checkbox">
                                                <label><div class="checker"><span><input type="checkbox"></span></div> Required</label>
                                              </div>
                                              <div class="checkbox">
                                                <label><div class="checker"><span><input type="checkbox"></span></div> Use as search facet</label>
                                              </div>
                                              <div class="checkbox">
                                                <label><div class="checker"><span><input type="checkbox"></span></div> Use as variant</label>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <!-- // -->
                                        <!-- // -->
                                        <div class="col-xs-12 addTemplateBlock">
                                          <div class="templateRow">
                                            <div class="col-xs-12 topLineBox text-center">
                                              <a href="#"><img src="/assets/images/boxDote.png" alt=""></a>
                                              <a href="#" class="TboxClose"><img src="/assets/images/boxClose.png" alt=""></a>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                              <div class="form-group">
                                                  <div class="col-md-12">
                                                    <select class="form-control">
                                                      <option>Meta Data</option>
                                                      <option>2</option>
                                                      <option>3</option>
                                                      <option>4</option>
                                                      <option>5</option>
                                                    </select>
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <div class="col-md-12">
                                                    <select class="form-control">
                                                      <option>Content Type</option>
                                                      <option>2</option>
                                                      <option>3</option>
                                                      <option>4</option>
                                                      <option>5</option>
                                                    </select>
                                                  </div>
                                              </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                              <div class="checkbox">
                                                <label><div class="checker"><span><input type="checkbox"></span></div> Required</label>
                                              </div>
                                              <div class="checkbox">
                                                <label><div class="checker"><span><input type="checkbox"></span></div> Use as search facet</label>
                                              </div>
                                              <div class="checkbox">
                                                <label><div class="checker"><span><input type="checkbox"></span></div> Use as variant</label>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <!-- // -->
                                        <!-- // -->
                                        <div class="col-xs-12 addTemplateBlock">
                                          <div class="templateRow">
                                            <div class="col-xs-12 topLineBox text-center">
                                              <a href="#"><img src="/assets/images/boxDote.png" alt=""></a>
                                              <a href="#" class="TboxClose"><img src="/assets/images/boxClose.png" alt=""></a>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                              <div class="form-group">
                                                  <div class="col-md-12">
                                                    <select class="form-control">
                                                      <option>URL & Handle</option>
                                                      <option>2</option>
                                                      <option>3</option>
                                                      <option>4</option>
                                                      <option>5</option>
                                                    </select>
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <div class="col-md-12">
                                                    <select class="form-control">
                                                      <option>Text Box</option>
                                                      <option>2</option>
                                                      <option>3</option>
                                                      <option>4</option>
                                                      <option>5</option>
                                                    </select>
                                                  </div>
                                              </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                              <div class="checkbox">
                                                <label><div class="checker"><span><input type="checkbox"></span></div> Required</label>
                                              </div>
                                              <div class="checkbox">
                                                <label><div class="checker"><span><input type="checkbox"></span></div> Use as search facet</label>
                                              </div>
                                              <div class="checkbox">
                                                <label><div class="checker"><span><input type="checkbox"></span></div> Use as variant</label>
                                              </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12">
                                              <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                                            </div>
                                          </div>
                                        </div>
                                        <!-- // -->
                                      </div>
                                    </div>
                                  </div>
                                  <!-- // Tab Content End -->
                                </tab>
                                <tab heading="TECHNICAL SPECIFICATION">TECHNICAL SPECIFICATION</tab>
                                <tab heading="WARRANTY">WARRANTY</tab>
                                <tab heading="OPERATIONS">OPERATIONS</tab>
                                <tab heading="CLASSIFICATIONS">CLASSIFICATIONS</tab>
                                <tab heading="+" class="PlusTab">PLUS</tab>
                              </tabset>
                            </div>
                          </div>
                        </div>
                        <!-- // Tab End -->
                        <!-- // Button Start -->
                        <div class="col-xs-12 nopadding">
              						<div class="form-group">
              							<div class="col-md-12 text-center">
              								<button class="btn-custom-7 btn" type="button">Cancel</button> <button class="btn-custom-6 btn" type="button">Save</button>
              							</div>
              						</div>
              					</div>
                        <!-- // Button End -->
                    </div>
                </form>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>
<!-- END MAIN CONTENT -->
