<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>&nbsp;</li>
  </ul>
</div>

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 Custome_Template_Wrapper">
        <!-- Begin: life time stats -->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <h3 class="page-title">TEMPLATE NAME &nbsp;<i class="fa fa-pencil"></i></h3>
                </div>
                <div class="cu-button-box pull-right">
                  <button class="btn btn-custom-3 btn-lg mb25" type="button">Preview</button>
                  <button class="btn btn-custom-3 btn-lg mb25" type="button">Send for approval</button>
                </div>
            </div>
            <div class="portlet-body form">
                <form action="#" class="form-horizontal">
                    <div class="col-xs-12 nopadding">
                      <div class="row">
                        <!-- // Form Block Start -->
                        <div class="col-xs-12 col-sm-6">
                          <div class="col-xs-12 addTemplateBlock">
                            <div class="templateRow">
                              <div class="col-xs-12 topLineBox text-center">
                                <a href="#"><img src="/assets/images/boxDote.png" alt=""></a>
                                <a href="#" class="TboxClose"><img src="/assets/images/boxClose.png" alt=""></a>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Title</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Content type</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="checkbox">
                                  <label><input type="checkbox"> Required</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as search facet</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as variant</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- // -->
                          <div class="col-xs-12 addTemplateBlock">
                            <div class="templateRow">
                              <div class="col-xs-12 topLineBox text-center">
                                <a href="#"><img src="/assets/images/boxDote.png" alt=""></a>
                                <a href="#" class="TboxClose"><img src="/assets/images/boxClose.png" alt=""></a>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Title</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Content type</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="checkbox">
                                  <label><input type="checkbox"> Required</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as search facet</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as variant</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- // -->
                          <div class="col-xs-12 addTemplateBlock">
                            <div class="templateRow">
                              <div class="col-xs-12 topLineBox text-center">
                                <a href="#"><img src="/assets/images/boxDote.png" alt=""></a>
                                <a href="#" class="TboxClose"><img src="/assets/images/boxClose.png" alt=""></a>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Description</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Text box</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="checkbox">
                                  <label><input type="checkbox"> Required</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as search facet</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as variant</label>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-12">
                                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                              </div>
                            </div>
                          </div>
                          <!-- // -->
                          <div class="col-xs-12 addTemplateBlock">
                            <div class="templateRow">
                              <div class="col-xs-12 topLineBox text-center">
                                <a href="#"><img src="/assets/images/boxDote.png" alt=""></a>
                                <a href="#" class="TboxClose"><img src="/assets/images/boxClose.png" alt=""></a>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Image</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Add Image</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="checkbox">
                                  <label><input type="checkbox"> Required</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as search facet</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as variant</label>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-12">
                                <a href="javascript:void(0);" class="AddImgBox">
                                  <addimg>
                                    <span><img src="/assets/images/plus.png"></span>
                                    <span>Add image</span>
                                  </addimg>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- // Form Block End -->
                        <!-- // Form Block Start -->
                        <div class="col-xs-12 col-sm-6">
                          <div class="col-xs-12 addTemplateBlock">
                            <div class="templateRow">
                              <div class="col-xs-12 topLineBox text-center">
                                <a href="#"><img src="/assets/images/boxDote.png" alt=""></a>
                                <a href="#" class="TboxClose"><img src="/assets/images/boxClose.png" alt=""></a>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Title</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <select class="form-control">
                                        <option>Content type</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="checkbox">
                                  <label><input type="checkbox"> Required</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as search facet</label>
                                </div>
                                <div class="checkbox">
                                  <label><input type="checkbox"> Use as variant</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- // Form Block End -->
                      </div>
                        <!-- // Tab Start -->
                        <div class="col-xs-12 nopadding">
                          <div class="form-group">
                            <div class="col-md-12">
                              <tabset seo="true">
                                <tab heading="SEO">TEST SEO</tab>
                                <tab heading="TECHNICAL SPECIFICATION">CONTENT</tab>
                                <tab heading="WARRANTY">LOREM IPSUM</tab>
                                <tab heading="OPERATIONS">LOREM IPSUM</tab>
                                <tab heading="CLASSIFICATIONS">LOREM IPSUM</tab>
                              </tabset>
                            </div>
                          </div>
                        </div>
                        <!-- // Tab End -->
                        <!-- // Button Start -->
                        <div class="col-xs-12 nopadding">
              						<div class="form-group">
              							<div class="col-md-12 text-center">
              								<button class="btn-custom-7 btn" type="button">Cancel</button> <button class="btn-custom-6 btn" type="button">Save</button>
              							</div>
              						</div>
              					</div>
                        <!-- // Button End -->
                    </div>
                </form>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>
<!-- END MAIN CONTENT -->
