<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#">Product Management</a>
          <i class="fa fa-angle-right"></i>
      </li>
      <li>
          <a href="#">Categories</a>
      </li>
  </ul>
</div>

<div class="row">
	<div class="col-md-8">
    <h3 class="page-title"> Categories</h3>
  </div>
</div>

<div class="row">
	<div class="col-md-5">
    <div class="input-group">
      <div class="input-group-btn">
          <button type="button" class="btn dropdown-toggle btn-lg btn-custom-5" data-toggle="dropdown">Action
              <i class="fa fa-angle-down"></i>
          </button>
          <ul class="dropdown-menu">
              <li>
                  <a href="javascript:;"> Action </a>
              </li>
              <li>
                  <a href="javascript:;"> Another action </a>
              </li>
              <li>
                  <a href="javascript:;"> Something else here </a>
              </li>
              <li class="divider"> </li>
              <li>
                  <a href="javascript:;"> Separated link </a>
              </li>
          </ul>
      </div>
      <!-- /btn-group -->
      <div class="input-icon input-icon-lg">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control custom-input-lg" placeholder="Search for products">
      </div>
    </div>
  </div>
  
  <div class="col-md-3">
    <button type="button" class="btn btn-custom-3 btn-lg">+ Category</button>
    <button class="btn btn-custom-3 btn-lg" type="button">Import</button>
  </div>
  
  <div class="col-md-3 text-right">
    <button class="btn btn-custom-4 btn-lg" type="button"><i class="fa fa-slack"></i></button>
    <button class="btn btn-custom-4 btn-lg" type="button"><i class="fa fa-eye-slash"></i></button>
    <button class="btn btn-custom-4 btn-lg" type="button"><i class="fa fa-refresh"></i></button>
    <button class="btn btn-custom-4 btn-lg" type="button"><i class="fa fa-print"></i></button>
  </div>
</div>

<div class="row margin-top-10">
	<div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>CATEGORY</th>
            <th>TOTAL NO OF PRODUCTS</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <td><a href="#">Clothes</a></td>
            <td>92823124512</td>
          </tr>
          
          <tr>
            <td><a href="#">Electronics</a></td>
            <td>92823123453</td>
          </tr>
          <tr>
            <td><a href="#">Accessory</a></td>
            <td>92823123456</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
