<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#">Product Management</a>
          <i class="fa fa-angle-right"></i>
      </li>
      <li>
          <a href="#">Categories</a>
      </li>
      <li>
          <a href="#">Clothes</a>
      </li>
  </ul>
</div>

<div class="row">
	<div class="col-md-6">
    <h3 class="page-title"> CLOTHES</h3>
  </div>
  
</div>

<div class="row">
	<div class="col-md-5">
    <div class="input-group">
      <div class="input-group-btn">
          <button type="button" class="btn dropdown-toggle btn-lg" data-toggle="dropdown">Filter
              <i class="fa fa-angle-down"></i>
          </button>
          <ul class="dropdown-menu">
              <li>
                  <a href="javascript:;"> Action </a>
              </li>
              <li>
                  <a href="javascript:;"> Another action </a>
              </li>
              <li>
                  <a href="javascript:;"> Something else here </a>
              </li>
              <li class="divider"> </li>
              <li>
                  <a href="javascript:;"> Separated link </a>
              </li>
          </ul>
      </div>
      <!-- /btn-group -->
      <div class="input-icon input-icon-lg">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control input-lg" placeholder="Search for products">
      </div>
    </div>
  </div>
  
  <div class="col-md-3">
    <button type="button" class="btn btn-default btn-lg btn-circle-but">+ Product</button>
    <button class="btn btn-default btn-lg btn-circle-but" type="button">Import</button>
  </div>
  
  <div class="col-md-3 text-right">
    <button class="btn btn-default btn-lg btn-circle-but" type="button"><i class="fa fa-slack"></i></button>
    <button class="btn btn-default btn-lg btn-circle-but" type="button"><i class="fa fa-eye-slash"></i></button>
    <button class="btn btn-default btn-lg btn-circle-but" type="button"><i class="fa fa-refresh"></i></button>
    <button class="btn btn-default btn-lg btn-circle-but" type="button"><i class="fa fa-print"></i></button>
  </div>
</div>

<div class="row margin-top-10">
	<div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th>NAME</th>
            <th></th>
            <th>BRAND</th>
            <th>SKU</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <td><i class="fa fa-angle-right"></i></td>
            <td><a href="#">Speedo Swimming Trunks</a></td>
            <td>3 variants</td>
            <td>Speedo</td>
            <td>92823124512</td>
          </tr>
          
          <tr>
            <td><i class="fa fa-angle-down"></i></td>
            <td><a href="#">Ray Ban Glasses</a></td>
            <td>Product Bundle</td>
            <td></td>
            <td>92823123453</td>
          </tr>
          <tr>
            <td></td>
            <td><a href="#">Oakley Woman's Glasses</a></td>
            <td></td>
            <td>Oakley</td>
            <td>92823123456</td>
          </tr>
          <tr>
            <td></td>
            <td><a href="#">Fossil Men's Watch J1729R</a></td>
            <td></td>
            <td>Fossil</td>
            <td>92823134562</td>
          </tr>
          <tr>
            <td></td>
            <td><a href="#">Brietling Men's Watch BR7L</a></td>
            <td></td>
            <td>Brietling</td>
            <td>92823198234</td>
          </tr>
          <tr>
            <td><i class="fa fa-angle-down"></i></td>
            <td><a href="#">Nike Men's Running Shoes</a></td>
            <td>5 variants</td>
            <td>Nike</td>
            <td>92823123454</td>
          </tr>
          
          <tr>
            <td></td>
            <td><a href="#">Red Size 41</a></td>
            <td></td>
            <td></td>
            <td>92823112345-1234</td>
          </tr>
          <tr>
            <td></td>
            <td><a href="#">Black & Blue Size 40</a></td>
            <td></td>
            <td></td>
            <td>92823112351-1232</td>
          </tr>
          <tr>
            <td></td>
            <td><a href="#">Purple & black Size 383</a></td>
            <td></td>
            <td></td>
            <td>92823134561-7895</td>
          </tr>
          <tr>
            <td></td>
            <td><a href="#">Red Size 40</a></td>
            <td></td>
            <td></td>
            <td>92823156742-7541</td>
          </tr>
          <tr>
            <td></td>
            <td><a href="#">Red Size 38</a></td>
            <td></td>
            <td></td>
            <td>92823112361-9874</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>