<div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <a href="#">Product Management</a>
          <i class="fa fa-angle-right"></i>
      </li>
      <li>
          <a href="#">Categories</a>
          <i class="fa fa-angle-right"></i>
      </li>
      <li>
          <a href="#">Clothes</a>
      </li>
  </ul>
</div>

<div class="row">
	<div class="col-md-8">
    <h3 class="page-title"> CLOTHES</h3>
  </div>
</div>

<div class="row">
	<div class="col-md-5 col-xs-12 mb10">
    <div class="input-group">
      <div class="input-group-btn">
          <button type="button" class="btn dropdown-toggle btn-lg btn-custom-5" data-toggle="dropdown">Action
              <i class="fa fa-angle-down"></i>
          </button>
          <ul class="dropdown-menu">
              <li>
                  <a href="javascript:;"> Action </a>
              </li>
              <li>
                  <a href="javascript:;"> Another action </a>
              </li>
              <li>
                  <a href="javascript:;"> Something else here </a>
              </li>
              <li class="divider"> </li>
              <li>
                  <a href="javascript:;"> Separated link </a>
              </li>
          </ul>
      </div>
      <!-- /btn-group -->
      <div class="input-icon input-icon-lg">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control custom-input-lg" placeholder="Search for products">
      </div>
    </div>
  </div>
  <div class="col-md-7 col-xs-12">
    <button type="button" class="btn btn-custom-3 btn-lg"><span data-plus>+</span> Product</button>
    <button class="btn btn-custom-3 btn-lg" type="button"><i class="fa fa-upload" aria-hidden="true"></i> Import</button>
    <!-- // -->
    <button class="btn btn-custom-4 btn-lg pull-right" type="button"><i class="fa fa-print"></i></button>
    <button class="btn btn-custom-4 btn-lg pull-right" type="button"><i class="fa fa-refresh"></i></button>
    <button class="btn btn-custom-4 btn-lg pull-right" type="button"><i class="fa fa-eye-slash"></i></button>
    <button class="btn btn-custom-4 btn-lg pull-right" type="button"><i class="fa fa-slack"></i></button>
    <!-- // -->
  </div>
</div>

<div class="row margin-top-10">
	<div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th>NAME</th>
            <th></th>
            <th>BRAND</th>
            <th>SKU</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><i class="fa fa-angle-right"></i></td>
            <td><a href="#">Speedo Swimming Trunks</a></td>
            <td>3 variants</td>
            <td>Speedo</td>
            <td>92823124512</td>
          </tr>

          <tr>
            <td><i class="fa fa-angle-down"></i></td>
            <td><a href="#">Ray Ban Glasses</a></td>
            <td>Product Bundle</td>
            <td></td>
            <td>92823123453</td>
          </tr>
          <tr>
            <td></td>
            <td><a href="#">Oakley Woman's Glasses</a></td>
            <td></td>
            <td>Oakley</td>
            <td>92823123456</td>
          </tr>
          <tr>
            <td></td>
            <td><a href="#">Fossil Men's Watch J1729R</a></td>
            <td></td>
            <td>Fossil</td>
            <td>92823134562</td>
          </tr>
          <tr>
            <td></td>
            <td><a href="#">Brietling Men's Watch BR7L</a></td>
            <td></td>
            <td>Brietling</td>
            <td>92823198234</td>
          </tr>
          <tr>
            <td><i class="fa fa-angle-down"></i></td>
            <td><a href="#">Nike Men's Running Shoes</a></td>
            <td>5 variants</td>
            <td>Nike</td>
            <td>92823123454</td>
          </tr>
        </tbody>
      </table>
      <!-- //  Paginationa Start -->
      <div class="col-xs-12 nopadding paginationContainer">
        <ul data-paging>
          <li><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
          <li>Page <span>1</span> of <span>13</span></li>
          <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        </ul>
        <ul page-count>
          <li><span>1</span>-<span>10</span></li>
          <li>of <span>125</span></li>
        </ul>
      </div>
      <!-- //  Paginationa End -->
    </div>
  </div>
</div>
